@import "jerry-extend";
@import "jerry-variable";

.forgot-password-container {
	.introduce {
		text-align: center;
		padding-bottom: 40px;

		.trial-message {
			@include gotham-book(300, 20px, 24px);
			display: inline-block;
			margin-top: 50px;
			color: #777777;
		}
	}

	.main-content {
		width: 100%;
		border-radius: 8px;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
		background-color: #ffffff;
		padding: 5px;

		.field-area {
			margin: 15px;

			.content-footer {
                padding-top: 4px;
                padding-bottom: 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                // grid-template-columns: auto auto;

                .login-link {
                    margin-top: 10px;
                }
            }
		}
	}
}

