<div class="forgot-password-container">
    <div class="introduce">
        <span class="trial-message">Forgot Password</span>
    </div>
    <div class="main-content">
        <div class="field-area form-wrapper">
            <div class="box-properties">
                <span class="field-label">Email</span>
                <dx-text-box #emailTextBox
                             placeholder="Enter Email"
                             class="field-box"
                             [valueChangeEvent]="'input'"
                             [(value)]="email"
                             (onEnterKey)="forgotPassword()"
                             (onFocusOut)="removeSpaces()"
                             (onValueChanged)="onEmailChanged($event)">
                    <dx-validator #emailValidator>
                        <dxi-validation-rule type="required"
                                             [message]="'This email is required'">
                        </dxi-validation-rule>
                        <dxi-validation-rule type="email"
                                             [message]="'This email is invalid'">
                        </dxi-validation-rule>
                        <dxi-validation-rule type="custom"
                                             [reevaluate]="true"
                                             [message]="'This email is not registered an account yet'"
                                             [validationCallback]="emailExistedValidationCallback">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>

            <div class="content-footer">
                <app-custom-button [disabled]="!isDataValid || isLoading"
                                   [height]="40"
                                   [width]="190"
                                   icon="{{ isLoading ? 'fas fa-spinner fa-spin' : '' }}"
                                   [text]="'RESET PASSWORD'"
                                   [type]="'primary'"
                                   (onClick)="forgotPassword()">
                </app-custom-button>
                <span class="text-has-link text-right login-link w-52-c" (click)="goToLogin()">Login</span>
            </div>

        </div>
    </div>
</div>

