/**
 * Blue
 */
.color-blue-00AFFF {
    color: $color-blue-00AFFF;
}

.hover\:color-blue-00AFFF:hover {
    color: $color-blue-00AFFF;
}

.color-blue-4882C7 {
    color: $color-blue-4882C7;
}

/**
 * Grey
 */
.color-grey-999 {
    color: $color-grey-999;
}

.color-grey-CCC {
    color: $color-grey-CCC;
}

.color-grey-777 {
    color: $color-grey-777;
}

/**
 * Black
 */
.color-black-555 {
    color: $color-black-555;
}

/**
 * Red
 */
.color-red-E57979 {
    color: $color-red-E57979;
}

// hover:color-red-E57979
.hover\:color-red-E57979:hover {
    color: $color-red-E57979;
}
/**
 * Green
 */
.color-green-89CD7F {
    color: $color-green-89CD7F;
}
