<div class="news-detail-container">
  <div class="news-detail-banner">
      <div class="m-auto">
        <p class="text-60px leading-normal text-white mb-20-c">Tin tức</p>
        <p class="text-20px text-white">
          <span class="cursor-pointer hover:text-red-DC6565" [routerLink]="['/']">Trang chủ </span>
          <span class="text-grey-EAF0F6">/ Bài viết</span></p>
      </div>
  </div>
  <div class="w-4/5 mx-auto py-96-c" *ngIf="activity">
    <div class="flex items-center">
      <div class="text-14px uppercase my-28-c text-black-555 flex items-center">
        <app-svg-icon
          class="text-black-555 mr-8-c"
          [name]="'icon_user_light'"
          [width]="16"></app-svg-icon>
        <span>
          Đăng bởi <span class="underline decoration-2 text-blue-4882C7 cursor-pointer">F4plus Orphanage</span>
        </span>
      </div>
      <div class="ml-30-c flex items-center text-black-555">
        <app-svg-icon
          class="text-black-555 mr-8-c"
          [name]="'icon_calendar'"
          [width]="16"></app-svg-icon>
        <span>{{activity.created_at | date}}</span>
      </div>
    </div>
    <div class="text-30px text-blue-4882C7 mb-30-c">{{activity.title}}</div>
    <div class="text-16px text-black-555">
      <div [innerHTML]="activity.content"></div>
    </div>
  </div>
</div>
