@import "jerry-extend";
@import "jerry-variable";

::ng-deep .password-popup {
    .dx-popup-title.dx-toolbar .dx-toolbar-label {
        @include gotham-book(bold, 14px, 17px)
    }

    .password-popup-container {
        display: block;
    }

    .box-properties {
        ::ng-deep .outgoing-email {
			display: flex;

			.prefix-email {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			.postfix-email {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}

		.read-only {
			::ng-deep .dx-texteditor-input {
				background: #F8F9FB;
			}
		}

		.country-name {
			overflow: hidden;
			-ms-text-overflow: ellipsis;
			text-overflow: ellipsis;
			white-space: nowrap;
			display: table-cell;
			width: 100%;
		}

		.selected-flag {
			padding: 13px;
		}

		&.phone-number {
			position: relative;
		}

		.phone-wrapper {
			position: relative;

			.phone-select-box {
				height: 44px;
				width: 360px;

				::ng-deep .dx-dropdowneditor-input-wrapper {
					&.dx-selectbox-container {
						border-radius: 5px;
					}
				}
			}

			.focus {
				border: 1px solid #61BBE7;
			}

			.hover {
				border-color: #61BBE7;
			}

			dx-text-box {
				&.phone {
					position: absolute;
					top: 0px;
					right: 0px;
					box-shadow: none;
					width: calc(100% - 88px - 15px);
					padding: 0 0 0 5px;
				}

				&.phone:hover + dx-select-box {
					border: 1px solid #61BBE7;
				}

				&::placeholder {
					color: #bbbbbb;
				}
			}

			.dx-dropdowneditor-button {
				padding: 0 !important;
			}

			.flag-button {
				&:hover {
					background-color: #e6e6e6;
				}

				.dial-code {
					margin-left: 5px;
					margin-top: 1px;
					color: #333;
				}

				dx-text-box.btn-show-country {
					display: none;
					margin: 4px 18px;
				}
			}

			input {
				&.phone {
					position: absolute;
					top: 1px;
					right: 19px;
					border-radius: 0px;
					border: none;
					box-shadow: none;
					height: 42px;
					max-width: 290px;
					padding: 0 0 0 5px;
				}

				&.phone:hover + dx-select-box {
					border: 1px solid #61BBE7;
                    border-radius: 5px;
                }

                &::placeholder {
                    color: #bbbbbb;
                }
            }
        }
    }
}

.change-password-confirmation-desc {
  color: $color-black-555;
  margin-bottom: 30px;
}

.footer-divider {
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}
