<app-popup-container #addProspectPopup
                     [height]="'100%'"
                     [width]="600"
                     [title]="'Chi tiết thông tin trẻ'"
                     [(visible)]="visible"
                     [customClass]="'add-prospect-popup'"
                     [customPopupAnimation]="POPUP_ANIMATION"
                     (onHiding)="hidePopup()">
    <div class="add-prospect-popup-container">
        <dx-validation-group #addNewProspectValidationGroup>
          <div class="profile-general-info-page">
            <app-load-panel [isLoading]="isLoading">
            </app-load-panel>

            <dx-scroll-view class="profile-general-info-scroll-view"
                            [showScrollbar]="'always'"
                            [direction]="'vertical'">
                <div class="profile-general-info-wrapper pl-10-c pr-30-c">
                    <div class="form-wrapper">
                        <div class="general-info-section">
                            <div class="left-section pb-20-c">
                                <div class="box-properties">
                                    <app-profile-avatar [avatarParentComponent]="AVATAR_PARENT_COMPONENT.profile"
                                                        [fileAvatarName]="child.personal_picture"
                                                        [logoTitle]="'Ảnh cá nhân'"
                                                        [child]="child"
                                                        [disabled]="isSaving"
                                                        (avatarUpdated)="onAvatarUpdated($event)">
                                    </app-profile-avatar>
                                </div>

                                <div class="box-properties" appAutoFocusInput>
                                    <span class="field-label">Họ và tên</span>
                                    <dx-text-box class="field-box"
                                                 [disabled]="isSaving"
                                                 [placeholder]="''"
                                                 [valueChangeEvent]="'input'"
                                                 [(value)]="child.name"
                                                 (onValueChanged)="dataChanged()">
                                        <dx-validator>
                                            <dxi-validation-rule type="required"
                                                                 [message]="'This full name is required'">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-text-box>
                                </div>

                                <div class="box-properties" appAutoFocusInput>
                                    <span class="field-label">Mã định danh</span>
                                    <dx-text-box class="field-box"
                                                 [disabled]="isSaving"
                                                 [placeholder]="'...'"
                                                 [valueChangeEvent]="'input'"
                                                 [(value)]="child.identifier"
                                                 (onValueChanged)="dataChanged()">
                                    </dx-text-box>
                                </div>

                                <div class="box-properties" appAutoFocusInput>
                                  <span class="field-label">Giới tính</span>
                                  <dx-lookup #assignLookup
                                            [disabled]="isProcessing"
                                            [dataSource]="GENDER_TYPES"
                                            [noDataText]="'No data to display'"
                                            [showCancelButton]="false"
                                            class="field-box"
                                            displayExpr="value"
                                            placeholder="Select Gender"
                                            searchPlaceholder="Search"
                                            valueExpr="key"
                                            width="100%"
                                            [(value)]="child.gender"
                                            [itemTemplate]="'assigneeItemTemplate'"
                                            (onValueChanged)="dataChanged()">
                                      <dxo-drop-down-options [closeOnOutsideClick]="true"
                                                            [height]="'auto'"
                                                            [maxHeight]="300"
                                                            [showTitle]="false">
                                      </dxo-drop-down-options>

                                      <div *dxTemplate="let item of 'assigneeItemTemplate'"
                                          [title]="item.value">
                                          {{item.value}}
                                      </div>
                                  </dx-lookup>
                                </div>

                                <div class="box-properties" appAutoFocusInput>
                                  <span class="field-label">Tuổi</span>
                                  <dx-number-box
                                    #numberBox
                                    [max]="30"
                                    [min]="0"
                                    [showSpinButtons]="true"
                                    [(value)]="child.age"
                                  ></dx-number-box>
                                </div>

                                <div class="box-properties" appAutoFocusInput>
                                  <span class="field-label">Trạng thái</span>
                                  <dx-lookup #assignLookup
                                            [disabled]="isProcessing"
                                            [dataSource]="GENDER_TYPES"
                                            [noDataText]="'No data to display'"
                                            [showCancelButton]="false"
                                            class="field-box"
                                            displayExpr="value"
                                            placeholder="Select Gender"
                                            searchPlaceholder="Search"
                                            valueExpr="key"
                                            width="100%"
                                            [(value)]="child.gender"
                                            [itemTemplate]="'assigneeItemTemplate'"
                                            (onValueChanged)="dataChanged()">
                                      <dxo-drop-down-options [closeOnOutsideClick]="true"
                                                            [height]="'auto'"
                                                            [maxHeight]="300"
                                                            [showTitle]="false">
                                      </dxo-drop-down-options>

                                      <div *dxTemplate="let item of 'assigneeItemTemplate'"
                                          [title]="item.value">
                                          {{item.value}}
                                      </div>
                                  </dx-lookup>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pt-30-c pb-15-c">
                        <app-custom-button class="mr-10-c"
                                           icon="{{ isSaving ? 'fas fa-spinner fa-spin' : '' }}"
                                           [width]="120"
                                           [height]="40"
                                           [text]="'Lưu'"
                                           [type]="'primary'"
                                           [disabled]="!isDataChanged || !isDataValid || isSaving"
                                           (onClick)="updateProfileGeneralInfo()">
                        </app-custom-button>
                        <app-custom-button [width]="120"
                                           [height]="40"
                                           [text]="'Hủy'"
                                           [type]="'cancel'"
                                           [disabled]="isSaving"
                                           (onClick)="cancelUpdate()">
                        </app-custom-button>
                    </div>
                </div>
            </dx-scroll-view>
          </div>
        </dx-validation-group>
    </div>
</app-popup-container>
