<div class="sign-up-container">
    <div class="introduce">
		<span *ngIf="stepSignUp.accountInfo == currentStep" class="description-message">
			Sign Up Today
		</span>
        <span *ngIf="stepSignUp.creditCard == currentStep" class="description-message">
			Almost Done!
		</span>
    </div>

    <div [@openClose]="stepSignUp.accountInfo == currentStep ? 'open' : 'closed'"
         [hidden]="stepSignUp.accountInfo != currentStep" class="sign-up-box">
        <div class="main-content">
            <div class="field-area form-wrapper" appAutoFocusInput>
                <div class="box-properties">
                    <span class="field-label">{{accountMessages.FullName}}</span>
                    <dx-text-box #fullName
                                 class="field-box"
                                 [valueChangeEvent]="'input'"
                                 [(value)]="account.name"
                                 [placeholder]="accountMessages.EnterFullName"
                                 (onEnterKey)="nextToCreditPage()"
                                 (onValueChanged)="dataChanged()">
                        <dx-validator>
                            <dxi-validation-rule type="required"
                                                 [message]="accountMessages.FullNameRequired">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
                <div class="box-properties">
                    <span class="field-label">{{accountMessages.CompanyName}}</span>
                    <dx-text-box #companyName
                                 class="field-box"
                                 [placeholder]="accountMessages.EnterCompanyName" [valueChangeEvent]="'input'"
                                 [(value)]="account.companyName"
                                 (onEnterKey)="nextToCreditPage()"
                                 (onValueChanged)="dataChanged()">
                        <dx-validator>
                            <dxi-validation-rule type="required"
                                                 [message]="accountMessages.CompanyNameRequired">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
                <div class="box-properties name">
                    <span class="field-label">{{accountMessages.Email}}</span>
                    <dx-text-box #email
                                 class="field-box"
                                 mode="email"
                                 [inputAttr]="{ autocomplete: 'new-password' }"
                                 [placeholder]="accountMessages.EnterEmail"
                                 [valueChangeEvent]="'input'"
                                 [(value)]="account.email"
                                 (onEnterKey)="nextToCreditPage()"
                                 (onFocusOut)="removeSpaces()"
                                 (onValueChanged)="onEmailChanged($event)">
                        <dx-validator #emailValidator>
                            <dxi-validation-rule type="required"
                                                 [message]="accountMessages.EmailRequired">
                            </dxi-validation-rule>
                            <dxi-validation-rule type="email"
                                                 [message]="accountMessages.EmailInvalid">
                            </dxi-validation-rule>
                            <dxi-validation-rule type="custom"
                                                 [reevaluate]="true"
                                                 [message]="accountMessages.EmailExist"
                                                 [validationCallback]="emailExistedValidationCallback">
                            </dxi-validation-rule>

                        </dx-validator>
                    </dx-text-box>
                </div>
                <div class="box-properties">
                    <span class="field-label">{{accountMessages.CreatePassword}}</span>
                    <dx-text-box #password
                                 class="field-box"
                                 [ngClass]="'conceal-native'"
                                 mode="text"
                                 [placeholder]="accountMessages.EnterPassword"
                                 [valueChangeEvent]="'input'"
                                 [(value)]="account.password"
                                 (onEnterKey)="nextToCreditPage()"
                                 (onValueChanged)="onCreatePasswordChanged($event)">
                        <dx-validator>
                            <dxi-validation-rule type="required"
                                                 message="Password is required">
                            </dxi-validation-rule>
                            <dxi-validation-rule type="stringLength"
                                                 [min]="6" message="Password must have at least 6 characters">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
                <div class="box-properties">
                    <span class="field-label"> {{accountMessages.ConfirmPassword}}</span>
                    <dx-text-box #confirmPassword
                                 class="field-box"
                                 [ngClass]="'conceal-native'"
                                 mode="text"
                                 [placeholder]="accountMessages.EnterPassword"
                                 [valueChangeEvent]="'input'"
                                 [(value)]="account.confirmPassword"
                                 (onEnterKey)="nextToCreditPage()"
                                 (onValueChanged)="dataChanged()">
                        <dx-validator #confirmPasswordValidation>
                            <dxi-validation-rule type="required"
                                                 message="Confirm Password is required">
                            </dxi-validation-rule>
                            <dxi-validation-rule type="compare"
                                                 [reevaluate]="true"
                                                 [comparisonTarget]="passwordComparison"
                                                 message="Password and Confirm Password do not match">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
                <div class="content-footer">
                    <app-custom-button (onClick)="nextToCreditPage()"
                                       [disabled]="!isDataValid || isRegistering || isEmailValidating"
                                       class="btn-register w-100"
                                       [height]="40"
                                       [width]="'100%'"
                                       [text]="'CREATE WOOSENDER ACCOUNT NOW'"
                                       [type]="'primary'">
                    </app-custom-button>
                </div>
            </div>
        </div>
    </div>
    <div [@openClose]="stepSignUp.creditCard == currentStep ? 'open' : 'closed'"
         [hidden]="stepSignUp.creditCard != currentStep" class="credit-card-box">
        <div class="main-content">
            <div class="field-area">
                <div class="order-summary">
                    <span class="field-label">ORDER SUMMARY</span>
                    <div class="summary-description">
                        <div class="summary-info">
                            <div>WooSender {{planName}} Plan</div>
                            <div *ngIf="trialDay > 0" class="font-weight-bold">{{trialDay}} {{trialDay > 1 ? "Days" : "Day"}} Free Trial</div>
                        </div>
                        <div *ngIf="trialDay > 0" class="summary-money">
                            <div>Amount: <span class="text-has-link">$0</span></div>
                            <div>Then just ${{baseCharge}}/month</div>
                        </div>
                        <div *ngIf="trialDay == 0" class="summary-money">
                            <div>Amount: <span class="text-has-link">${{baseCharge}}</span>/month</div>
                        </div>
                    </div>
                </div>
                <div class="box-properties">
                    By clicking “GET INSTANT ACCESS” you agree to the WooSender <span (click)="goToTermOfService()"
                                                                                      class="title text-has-link">Term of Service</span>
                    and <span (click)="goToPrivacyPolicy()" class="title text-has-link">Privacy Policy</span>
                </div>
                <div class="content-footer">
                    <app-custom-button (onClick)="registerAccount()"
                                       [disabled]="isRegistering || !creditCard.isFormValid"
                                       class="btn-register mr-0 w-100"
                                       [height]="40"
                                       [width]="'100%'"
                                       icon="{{ isRegistering ? 'fas fa-spinner fa-spin' : '' }}"
                                       [text]="'GET INSTANT ACCESS'"
                                       [type]="'primary'">
                    </app-custom-button>
                </div>
            </div>
        </div>
    </div>
</div>
