<div class="sign-up-container">
    <div class="introduce">
		<span *ngIf="stepSignUp.accountInfo == currentStep" class="description-message">
			Sign Up Today
		</span>
        <span *ngIf="stepSignUp.creditCard == currentStep" class="description-message">
			Almost Done!
		</span>
    </div>

    <div [@openClose]="stepSignUp.accountInfo == currentStep ? 'open' : 'closed'"
         [hidden]="stepSignUp.accountInfo != currentStep" class="sign-up-box">
        <div class="main-content">
            <div class="field-area form-wrapper" appAutoFocusInput>
                <div class="box-properties">
                    <span class="field-label">{{accountMessages.FullName}}</span>
                    <dx-text-box #fullName
                                 class="field-box"
                                 [valueChangeEvent]="'input'"
                                 [(value)]="account.name"
                                 [placeholder]="accountMessages.EnterFullName"
                                 (onValueChanged)="dataChanged()">
                        <dx-validator>
                            <dxi-validation-rule type="required"
                                                 [message]="accountMessages.FullNameRequired">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>

                <div class="box-properties name">
                    <span class="field-label">{{accountMessages.Email}}</span>
                    <dx-text-box #email
                                 class="field-box"
                                 mode="email"
                                 [inputAttr]="{ autocomplete: 'new-password' }"
                                 [placeholder]="accountMessages.EnterEmail"
                                 [valueChangeEvent]="'input'"
                                 [(value)]="account.email"
                                 (onFocusOut)="removeSpaces()"
                                 (onValueChanged)="onEmailChanged($event)">
                        <dx-validator #emailValidator>
                            <dxi-validation-rule type="required"
                                                 [message]="accountMessages.EmailRequired">
                            </dxi-validation-rule>
                            <dxi-validation-rule type="email"
                                                 [message]="accountMessages.EmailInvalid">
                            </dxi-validation-rule>
                            <dxi-validation-rule type="custom"
                                                 [reevaluate]="true"
                                                 [message]="accountMessages.EmailExist"
                                                 [validationCallback]="emailExistedValidationCallback">
                            </dxi-validation-rule>

                        </dx-validator>
                    </dx-text-box>
                </div>
                <div class="box-properties">
                    <span class="field-label">{{accountMessages.CreatePassword}}</span>
                    <dx-text-box #password
                                 class="field-box"
                                 [ngClass]="'conceal-native'"
                                 mode="text"
                                 [placeholder]="accountMessages.EnterPassword"
                                 [valueChangeEvent]="'input'"
                                 [(value)]="account.password"
                                 (onValueChanged)="onCreatePasswordChanged($event)">
                        <dx-validator>
                            <dxi-validation-rule type="required"
                                                 message="Password is required">
                            </dxi-validation-rule>
                            <dxi-validation-rule type="stringLength"
                                                 [min]="6" message="Password must have at least 6 characters">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
                <div class="box-properties">
                    <span class="field-label"> {{accountMessages.ConfirmPassword}}</span>
                    <dx-text-box #confirmPassword
                                 class="field-box"
                                 [ngClass]="'conceal-native'"
                                 mode="text"
                                 [placeholder]="accountMessages.EnterPassword"
                                 [valueChangeEvent]="'input'"
                                 [(value)]="account.confirmPassword"
                                 (onEnterKey)="registerAccount()"
                                 (onValueChanged)="dataChanged()">
                        <dx-validator #confirmPasswordValidation>
                            <dxi-validation-rule type="required"
                                                 message="Confirm Password is required">
                            </dxi-validation-rule>
                            <dxi-validation-rule type="compare"
                                                 [reevaluate]="true"
                                                 [comparisonTarget]="passwordComparison"
                                                 message="Password and Confirm Password do not match">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>

                <div class="content-footer">
                    <app-custom-button (onClick)="registerAccount()"
                                       class="btn-register w-100"
                                       [disabled]="isRegistering || !isDataValid"
                                        icon="{{ isRegistering ? 'fas fa-spinner fa-spin' : '' }}"
                                       [height]="40"
                                       [width]="'100%'"
                                       [text]="'CREATE ACCOUNT NOW'"
                                       [type]="'primary'">
                    </app-custom-button>
                  </div>
                  <div class="text-center mt-2 text-grey-777 text-14px flex items-center">
                    <p class="mr-16-c">Are you have an account?</p>
                    <app-custom-button class="get-free-trial"
                                       [height]="35"
                                       [width]="120"
                                       [text]="'Login Now'"
                                       [type]="'primary-outline'"
                                       (onClick)="goToLoginPage()">
                    </app-custom-button>
                </div>
            </div>
        </div>
    </div>
</div>
