<app-load-panel [isLoading]="isLoading">
</app-load-panel>

<div class="profile-general-info-page">
    <div *ngIf="!isLoading" class="h-full">
        <div class="profile-general-info-wrapper pl-10-c pr-10-c flex flex-col h-full">
            <div class="form-wrapper flex-1">
                <div class="general-info-section">
                    <div class="left-section pb-20-c m-0">
                        <div class="box-properties" appAutoFocusInput>
                            <span class="field-label">Người nhận nuôi</span>
                            <dx-text-box class="field-box"
                                            [disabled]="true"
                                            [placeholder]="'John Smith'"
                                            [valueChangeEvent]="'input'"
                                            [(value)]="requestDetail.adopter.name"
                                            (onValueChanged)="dataChanged()">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                                            [message]="'This full name is required'">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>

                        <div class="box-properties" appAutoFocusInput>
                            <span class="field-label">Trẻ nhận nuôi</span>
                            <dx-text-box class="field-box"
                                            [disabled]="true"
                                            [placeholder]="'John Smith'"
                                            [valueChangeEvent]="'input'"
                                            [(value)]="requestDetail.adopter.name"
                                            (onValueChanged)="dataChanged()">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                                            [message]="'This full name is required'">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>

                        <div class="box-properties" appAutoFocusInput>
                            <span class="field-label">Địa chỉ</span>
                            <dx-text-box class="field-box"
                                            [disabled]="true"
                                            [placeholder]="'Da Nang...'"
                                            [valueChangeEvent]="'input'"
                                            [(value)]="requestDetail.adopter.address"
                                            (onValueChanged)="dataChanged()">
                            </dx-text-box>
                        </div>

                        <div class="flex items-start justify-between gap-20-c">
                            <div class="box-properties flex-1" appAutoFocusInput>
                                <span class="field-label">Số điện thoại</span>
                                <dx-text-box class="field-box"
                                                [disabled]="true"
                                                [placeholder]="'0013131....'"
                                                [valueChangeEvent]="'input'"
                                                [(value)]="requestDetail.adopter.phone"
                                                (onValueChanged)="dataChanged()">
                                </dx-text-box>
                            </div>

                            <div class="box-properties" appAutoFocusInput>
                                <span class="field-label">Chức vụ</span>
                                <dx-text-box class="field-box"
                                                [disabled]="true"
                                                [valueChangeEvent]="'input'"
                                                [(value)]="requestDetail.adopter.occupation"
                                                (onValueChanged)="dataChanged()">
                                </dx-text-box>
                            </div>
                        </div>

                        <div class="flex items-start justify-between gap-20-c">
                            <div class="box-properties flex-1">
                                <span class="field-label">Địa chỉ Email</span>
                                <div class="profile-general-info__email-field-container">
                                    <dx-text-box #accountEmailTextBox
                                                    class="field-box"
                                                    [disabled]="true"
                                                    [placeholder]="'Enter Email'"
                                                    [valueChangeEvent]="'input'"
                                                    [(value)]="requestDetail.adopter.email"
                                                    (onValueChanged)="dataChanged()">
                                    </dx-text-box>
                                </div>
                            </div>

                            <div class="box-properties">
                                <span class="field-label">Mức thu nhập</span>
                                <dx-text-box class="field-box"
                                                [disabled]="true"
                                                [placeholder]="'...'"
                                                [valueChangeEvent]="'input'"
                                                [(value)]="requestDetail.income"
                                                (onValueChanged)="dataChanged()">
                                </dx-text-box>
                            </div>
                        </div>

                        <div class="box-properties">
                            <span class="field-label">Trạng thái hôn nhân</span>
                            <dx-radio-group
                                [disabled]="true"
                                [items]="MARITAL_STATUS"
                                valueExpr="key"
                                displayExpr="value"
                                [(value)]="requestDetail.marital_status">
                            </dx-radio-group>
                        </div>

                        <div class="box-properties">
                            <span class="field-label">Trạng thái gia đình</span>
                            <dx-radio-group
                                [disabled]="true"
                                [items]="FAMILY_STATUS"
                                valueExpr="key"
                                displayExpr="value"
                                [value]="requestDetail.family_status ? 0 : 1"
                                (onValueChanged)="dataChanged()">
                            </dx-radio-group>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="pt-20-c pb-10-c flex items-center justify-end">
                <app-custom-button class="mr-10-c"
                                   icon="{{ isSaving ? 'fas fa-spinner fa-spin' : '' }}"
                                   [width]="120"
                                   [height]="40"
                                   [text]="'Lưu'"
                                   [type]="'primary'"
                                   [disabled]="!isDataChanged || !isDataValid || isSaving"
                                   (onClick)="updateProfileGeneralInfo()">
                </app-custom-button>
                <app-custom-button [width]="120"
                                   [height]="40"
                                   [text]="'Hủy'"
                                   [type]="'cancel'"
                                   [disabled]="isSaving || !isDataChanged"
                                   (onClick)="cancelUpdate()">
                </app-custom-button>
            </div> -->
        </div>
    </div>
</div>
