<footer class="bg-blue-00AFFF text-white footer">
  <div class="w-4/5 mx-auto flex justify-center items-center">
    <div class="grid text-left grid-box w-2/3 text-15px">
      <div>
        <div class="font-weight-bold mb-12-c text-16px cursor-pointer">Trang chủ</div>
        <div class="mt-6-c cursor-pointer">Chúng tôi làm gì</div>
        <div class="mt-6-c cursor-pointer">Nghiên cứu và báo cáo</div>
        <div class="mt-6-c cursor-pointer">Chuyện của chúng tôi</div>
        <div class="mt-6-c cursor-pointer">Hành động</div>
      </div>

      <div>
        <div class="font-weight-bold mb-12-c text-16px cursor-pointer">Giới thiệu</div>
        <div class="mt-6-c cursor-pointer">Trẻ em Việt Nam</div>
        <div class="mt-6-c cursor-pointer">Thông cáo báo chí</div>
        <div class="mt-6-c cursor-pointer">Liên hệ</div>
        <div class="mt-6-c cursor-pointer">Làm việc với F4Plus</div>
      </div>
    </div>

    <div class="flex flex-col items-center justify-around w-1/3 mx-auto">
        <div  class="flex justify-center items-center">
            <app-custom-button
              class="uppercase !text-red-CE1818 hover:bg-white rounded-5px"
              [text]="'Quyên góp'"
              [type]="'primary-outline'"
              (onClick)="goDonatePage()">
            </app-custom-button>

            <app-custom-button
              *ngIf="!isRegisteredInfo"
              class="uppercase !text-red-CE1818 hover:bg-white rounded-5px ml-12-c"
              [text]="'Đăng kí nhận thông tin'"
              [type]="'primary-outline'"
              (onClick)="onShowRegisterPopup.emit(true)">
            </app-custom-button>
        </div>

        <div class="flex items-center mt-16-c gap-18-c cursor-pointer">
            <div class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
                <app-svg-icon
                    name="icon_facebook_medallion"
                    [width]="24"
                    [height]="24"></app-svg-icon>
            </div>
            <app-svg-icon
                class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
                name="icon_youtube"
                [width]="24"
                [height]="24"></app-svg-icon>
            <app-svg-icon
                name="icon_tiktok"
                [width]="24"
                [height]="24"></app-svg-icon>
        </div>

        <div class="flex items-center justify-center mt-20-c text-15px">
            <span class="cursor-pointer">Thông tin pháp lý</span>
            <div class="mx-8-c w-1-c h-12-c bg-white"></div>
            <span class="cursor-pointer">Liên hệ</span>
        </div>
    </div>
  </div>
</footer>
