<div #dateRangePicker daterangepicker
     class="date-range-picker-box picker"
     [ngClass]="{'active': isActive}"
     [options]="{
         startDate: startDate,
         endDate: endDate,
         locale: {format: 'MM/DD/YYYY'},
         alwaysShowCalendars: true,
         showDropdowns: false,
         autoApply: true,
         label: label,
         opens: opens,
         drops: drops,
         parentEl: parentEl,
         ranges: dateRanges
     }"
     (applyDaterangepicker)="onApply($event)"
     (cancelDaterangepicker)="onCancel($event)"
     (hideDaterangepicker)="onHide($event)"
     (showDaterangepicker)="onShow($event)">
    <div class="d-flex justify-content-between align-items-center gap-8-c">
        <div [ngClass]="{'button-small': isSmallButton}"
             class="date-content d-flex justify-content-start align-items-center">
            <app-svg-icon class="icon-container icon-calendar-container"
                          [data]="SVG_ICONS.calendar">
            </app-svg-icon>

            <span *ngIf="!startDate">All Time</span>
            <span *ngIf="startDate" class="dates">
					<span *ngIf="isShowLabel">{{label}}</span>
					<span *ngIf="!isShowLabel">{{startDate | date: formatDate}} - {{endDate | date: formatDate}}</span>
				</span>
        </div>
        <div class="d-flex justify-content-end align-items-center right-buttons">
            <app-svg-icon *ngIf="startDate"
                          class="icon-clear-container"
                          title="Reset"
                          [data]="SVG_ICONS.closeWeight"
                          (click)="resetPicker($event)">
            </app-svg-icon>

            <i class="fas fa-chevron-down"></i>
        </div>
    </div>
</div>
