<!-- *ngIf="currentUser$ | async as currentUser" -->
<ng-container >
	<div
		id="CleeksyUserAvatar"
		class="user-setting"
		[ngClass]="{
			'compacted': isCompacted,
			'dark-theme': isDarkThemeSelected,
			'light-theme': !isDarkThemeSelected
		}"
		(click)="showUserMenu($event)">
    <!-- *ngIf="currentUser?.avatar?.url; else usernameAvatar" -->
		<img
			class="default-avatar"
			alt="avatar"
			loading="lazy" />
		<ng-template #usernameAvatar>
			<!-- <app-svg-icon
				class="default-avatar"
				[name]="currentUser?.avatar?.icon || 'icon_user_blue_7'"
				[title]="currentUser?.fullName">
			</app-svg-icon> -->
		</ng-template>

    <!-- [title]="currentUser?.fullName" -->
		<div
			*ngIf="!isCompacted"
			[@fadeInAnimation]="{ value: ':enter', params: { delay: 0 } }"
			class="info-name-rank">
			<!-- <span class="full-name">{{ currentUser?.fullName }}</span> -->
			<span class="rank">Giám đốc</span>
		</div>
	</div>

	<!-- User Menu -->
	<!-- <app-cleeksy-popover
		*ngIf="isUserMenuVisible"
		[(visible)]="isUserMenuVisible"
		[popoverClasses]="'user-menu-popover'"
		[targetElement]="'#CleeksyUserAvatar'"
		[width]="355"
		[height]="'fit-content'"
		[position]="'top'"
		[showTitle]="false"
		[animation]="userMenuAnimation">
		<div class="user-menu">
			<div class="menu-wrapper">
				<div class="upgrade-service-pack">
					<div class="text-info">
						{{ selectTenant.tenantId | lookupByKey: tenants:'id':'name' }} đang sử dụng
						phiên bản dùng thử.
					</div>
					<div class="remaining-days-btn-upgrade d-flex">
						<div class="remaining-days-icon">
							<app-svg-icon class="cleesky--icon_alarm mr-2" [name]="'icon_alarm'">
							</app-svg-icon>
							<span class="text-remaining-days">Còn lại 14 ngày</span>
						</div>

						<dx-button
							text="Nâng cấp gói dịch vụ"
							class="btn-upgrade-service"
							[height]="32"
							(onClick)="onUpgradeServicePack()">
						</dx-button>
					</div>
				</div>
				<div class="list-tenants">
					<ng-container *ngFor="let item of currentUser.tenantIds">
						<div
							class="tenant-item d-flex cursor-pointer"
							(click)="onShowConfirmSwitchTenant($event, item)">
							<div class="d-flex">
								<div class="wrap-avatar" aria-readonly="true">
									<img
										[defaultImage]="'assets/images/error-img.png'"
										[errorImage]="'assets/images/error-img.png'"
										[lazyLoad]="item | lookupByKey: tenants:'id':'logoUrl'" />
								</div>
								<div class="name-tenant">
									{{ item | lookupByKey: tenants:'id':'name' }}
								</div>
							</div>
							<div class="icon" *ngIf="selectTenant.tenantId === item">
								<app-svg-icon name="icon_check" class="icon-item icon_check">
								</app-svg-icon>
							</div>
						</div>
					</ng-container>
				</div>
				<div class="dropdown-divider"></div>
				<div class="list-item notification-dark-mode">
					<a class="dropdown-item pointer notification d-flex">
						<div class="icon-text">
							<app-svg-icon
								class="cleesky--icon-target width-13px mr-2"
								[name]="'icon_bell_notification'">
							</app-svg-icon>
							<span class="text">Thông báo</span>
						</div>
						<dx-switch
							[width]="32"
							[height]="18"
							[(value)]="!notificationSetting.turnedOff"
							id="switchNotification"
							(onValueChanged)="changeNotificationValue($event)">
						</dx-switch>
					</a>
					<a class="dropdown-item pointer dark-mode d-flex">
						<div class="icon-text">
							<app-svg-icon
								class="cleesky--icon-target width-13px mr-2"
								[name]="'icon_dark_mode'">
							</app-svg-icon>
							<span class="text">Chế độ tối</span>
						</div>
						<dx-switch
							[width]="32"
							[height]="18"
							[(value)]="isDarkThemeSelected"
							[switchedOnText]="'Light'"
							[switchedOffText]="'Dark'"
							(onValueChanged)="changeTheme($event)">
						</dx-switch>
					</a>
				</div>

				<div class="dropdown-divider"></div>
				<div class="list-item">
					<a class="dropdown-item pointer" (click)="isUserMenuVisible = false">
						<app-svg-icon
							class="cleesky--icon-target width-13px mr-2"
							[name]="'icon_user'">
						</app-svg-icon>
						<span class="text">Thông tin cá nhân</span>
					</a>
					<a class="dropdown-item pointer" (click)="openAccountSettingPopup()">
						<app-svg-icon
							class="cleesky--icon_account_setting mr-2"
							[name]="'icon_account_setting'">
						</app-svg-icon>
						<span class="text">Cài đặt tài khoản</span>
					</a>
					<a class="dropdown-item pointer" *ngIf="currentUser.isTenantManager">
						<app-svg-icon
							class="cleesky--icon_settings width-13px mr-2"
							[name]="'icon_settings'">
						</app-svg-icon>
						<span class="text">Thiết lập hệ thống</span>
					</a>
					<a class="dropdown-item pointer" *ngIf="isServiceUpgrade">
						<app-svg-icon
							class="cleesky--icon_money_bill width-13px mr-2"
							[name]="'icon_money_bill'">
						</app-svg-icon>
						<span class="text">Lịch sử thanh toán</span>
					</a>
				</div>
				<div class="dropdown-divider"></div>
				<div class="list-item help-security">
					<a class="dropdown-item pointer" (click)="isUserMenuVisible = false">
						<app-svg-icon
							class="cleesky--icon_request width-13px mr-2"
							[name]="'icon_request'">
						</app-svg-icon>
						<span class="text">Trung tâm trợ giúp</span>
					</a>
					<a class="dropdown-item pointer" (click)="isUserMenuVisible = false">
						<app-svg-icon
							class="cleesky--icon_shield_lock width-13px mr-2"
							[name]="'icon_privacy'">
						</app-svg-icon>
						<span class="text">Chính sách bảo mật</span>
					</a>
				</div>
				<div class="dropdown-divider"></div>
				<div class="list-item footer-logout pb-1">
					<a class="dropdown-item pointer logout" (click)="logout()">
						<span class="text">Đăng xuất</span>
					</a>
				</div>
			</div>
		</div>
	</app-cleeksy-popover> -->
