@import "jerry-extend";
@import "jerry-variable";

::ng-deep .role-management__container {
  height: 100vh;

  .role-management__header {
    border-bottom: 1px solid #e6e9f0;
  }

  .role-management__content {
    padding: 16px 24px;
    height: calc(100% - 90px);

    .dx-datagrid-borders > .dx-datagrid-headers {
      border-color: #e6e9f0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    .dx-data-grid .dx-datagrid .dx-row > td {
      padding: 10px;
    }

    .dx-column-lines  {
      background-color: #fff !important;
    }

    .dx-group-row{
      border: none;
    }

    .dx-group-row + .dx-data-row{
      border-top: 1px solid #e6e9f0 !important;
    }

    .dx-datagrid-table .dx-row .dx-command-expand.dx-datagrid-group-space {
      padding-top: 15px;
    }

    .dx-datagrid-rowsview .dx-group-row.dx-row > td {
      border: none;
    }

    .dx-datagrid-rowsview {
      border-color: #e6e9f0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      // border-bottom: none;
    }

    .dx-datagrid-rowsview .dx-row {
      border-color: #e6e9f0;
      border-top: none;
    }
  }
}
