<div class="role-management__container">
  <div class="text-20px font-gotham-bold px-24-c py-16-c text-blue-282E3E role-management__header">
    Manage Role
  </div>

  <div class="role-management__content">
    <div class="role-selection">
      <dx-lookup #accountLookup
                 class="role-lookup field-box"
                 height="40px"
                 width="250px"
                 [dataSource]="roleDataSource"
                 [disabled]="false"
                 [visible]="true"
                 [placeholder]="'Select Role'"
                 [noDataText]="'No role to display'"
                 displayExpr="name"
                 valueExpr="id"
                 searchExpr="value"
                 [(value)]="roleSelected"
                 (onValueChanged)="roleItemChanged($event)"
                 [searchPlaceholder]="'Search'">
        <dxo-drop-down-options [closeOnOutsideClick]="true"
                               [height]="'auto'"
                               [maxHeight]="300"
                               [showTitle]="false">
        </dxo-drop-down-options>
      </dx-lookup>
    </div>

    <div class="mt-16-c">
      <dx-data-grid class="scopes-grid-container"
                    [dataSource]="scopeDataSource"
                    height="600px"
                    [showBorders]="true"
                    [noDataText]="'No data to display'">
          <dxo-scrolling [useNative]="false">
          </dxo-scrolling>
          <dxi-column dataField="group" [groupIndex]="0"> </dxi-column>
          <dxi-column dataField="label"
                      [caption]="'Permissions'"
                      [cellTemplate]="'labelCellTemplate'">
            <ng-container *dxTemplate="let item of 'labelCellTemplate'">
              <dx-check-box
                id="autoExpand"
                [value]="scopeText?.get(item.data.scope) ? true : false"
                [text]="item.data.scope"
                (onValueChanged)="onScopeChanged(item.data)">
              </dx-check-box>
            </ng-container>
          </dxi-column>
      </dx-data-grid>
    </div>
  </div>
</div>
