<div class="role-management__container">
  <div class="text-20px font-gotham-bold px-24-c py-16-c text-blue-282E3E role-management__header">
    Manage Role
  </div>

  <div class="role-management__content">
    <div>
      <dx-lookup #accountLookup
                 class="role-lookup field-box"
                 height="40px"
                 width="250px"
                 [dataSource]="roleDataSource"
                 [disabled]="false"
                 [visible]="true"
                 [placeholder]="'Select Role'"
                 [noDataText]="'No role to display'"
                 displayExpr="name"
                 valueExpr="id"
                 searchExpr="value"
                 [searchPlaceholder]="'Search'">
                 <!-- [(value)]="" -->
              <!-- (onValueChanged)="accountItemChanged($event)" -->
        <dxo-drop-down-options [closeOnOutsideClick]="true"
                               [height]="'auto'"
                               [maxHeight]="300"
                               [showTitle]="false">
        </dxo-drop-down-options>
      </dx-lookup>
    </div>
  </div>
</div>
