<div class="news h-full">
  <div class="w-full my-24-c px-24-c flex justify-end h-40-c top-0 right-33-c z-50">
    <app-custom-button
        class="float-left mr-4"
        [height]="40"
        [disabled]="isRegistering"
        icon="{{ isRegistering ? 'fas fa-spinner fa-spin' : '' }}"
        [width]="90"
        [text]="'Chỉnh sửa'"
        [type]="'primary'"
        (onClick)="toggleEditActivity()">
    </app-custom-button>

    <app-custom-button
        class="float-left"
        [height]="40"
        icon="{{ isRegistering ? 'fas fa-spinner fa-spin' : '' }}"
        [width]="120"
        [text]="'Tạo bài viết'"
        [type]="'primary'"
        (onClick)="openCreatePage()">
    </app-custom-button>
  </div>

    <dx-scroll-view>
        <!-- article card list  -->
        <div class="mb-52-c articles px-24-c">
            <ng-container *ngFor="let activity of activities; index as actionIndex;">
                <div
                    *ngIf="!isLoading"
                    class="article flex flex-col items-center">
                    <img
                        class="w-full object-cover article-image"
                        loading="lazy"
                        :src="{{activity.cover_picture}}">

                    <div class="article-content w-full">
                        <div class="pb-10-c text-blue-00AFFF text-14px">
                            {{activity.activity_type | lookupValue : activityTypes : 'id' : 'name'}}
                        </div>
                        <div
                            class="text-16px hover:text-blue-00AFFF article-content__title"
                            (click)="goActivityDetail(activity.id)">
                            {{activity.title}}
                        </div>

                        <!-- <div class="article-content-footer">
                            <div class="article-content__description">
                                <div class="mb-20-c w-10/12 text-14px leading-20px">
                                    <div><span class="text-blue-00AFFF py-2-c">Mục tiêu: </span>{{activity.expense * 1000 | currency: "VND"}}</div>
                                    <div><span class="text-blue-00AFFF py-2-c">Đã kêu gọi: </span>{{activity.donate * 1000 | currency: "VND"}}</div>
                                    <div><span class="text-blue-00AFFF py-2-c">Diễn ra từ: </span> {{activity.start_date | date}} - {{activity.end_date | date}}</div>
                                </div>
                            </div>
                        </div> -->
                    </div>

                    <div
                        *ngIf="isEditMode"
                        class="absolute right-16-c top-16-c w-32-c h-32-c rounded-1/2 bg-white flex items-center justify-center"
                        (click)="onEditActivityBtnClicked(activity.id)">
                        <app-svg-icon
                            class="text-blue-00AFFF"
                            [width]="16"
                            [name]="'icon_pencil'">
                        </app-svg-icon>
                    </div>

                    <div
                        *ngIf="isEditMode"
                        class="absolute right-16-c top-60-c w-32-c h-32-c rounded-1/2 bg-white flex items-center justify-center"
                        (click)="onDeleteActivityBtnClicked(activity.id)">
                        <app-svg-icon
                            class="text-red-CE1818"
                            [width]="16"
                            [name]="'icon_close_weight'">
                        </app-svg-icon>
                    </div>
                </div>
            </ng-container>

            <!-- skeleton loader -->
            <ng-container *ngFor="let activity of loadingArr">
                <div *ngIf="isLoading" class="article is-loading">
                    <div class="article-image"></div>
                    <div class="article-content">
                        <h2></h2>
                        <p></p>
                    </div>
                </div>
            </ng-container>
        </div>

        <div
            class="w-full text-center my-40-c"
            *ngIf="totalCount > activities.length">
            <app-custom-button
                class="uppercase text-22px hover:bg-white rounded-5px"
                [height]="40"
                [disabled]="isLoadingMore"
                icon="{{ isLoadingMore ? 'fas fa-spinner fa-spin' : '' }}"
                [text]="'Hiển thị thêm'"
                [type]="'primary-outline'"
                (click)="loadMore()">
            </app-custom-button>
        </div>
    </dx-scroll-view>
</div>
