<div class="news">
  <div class="w-full pt-24-c flex justify-end h-71-c fixed top-0 right-33-c z-50">
    <app-custom-button
        class="float-left mr-4"
        [height]="40"
        [disabled]="isRegistering"
        icon="{{ isRegistering ? 'fas fa-spinner fa-spin' : '' }}"
        [width]="90"
        [text]="'Chỉnh sửa'"
        [type]="'primary'"
        (onClick)="toggleEditActivity()">
    </app-custom-button>

    <app-custom-button
        class="float-left"
        [height]="40"
        icon="{{ isRegistering ? 'fas fa-spinner fa-spin' : '' }}"
        [width]="120"
        [text]="'Tạo bài viết'"
        [type]="'primary'"
        (onClick)="openCreatePage()">
    </app-custom-button>
  </div>

  <dx-scroll-view>
        <div class="content-box pb-30-c">
            <div class="">
                <div class="news-content">
                <ng-container *ngFor="let activity of activities; index as actionIndex;">
                    <div
                        *ngIf="!isLoading"
                        class="card flex flex-col items-center relative">
                        <div class="w-full">
                        <img class="w-full h-132-c object-cover" loading="lazy"
                            :src="{{activity.cover_picture}}" width="480" height="320"
                            alt="What you need to know about COVID-19 vaccines" typeof="foaf:Image">
                        </div>

                        <div class="content">
                            <div class="pb-10-c pt-6-c text-blue-00AFFF">{{activity.activity_type | lookupValue : activityTypes : 'id' : 'name'}}</div>
                            <p class="text-16px leading-22px">{{activity.title}}</p>
                            <p class="text-16px leading-22px">  </p>
                            <div class="button">
                                <span
                                    class="text-blue-00AFFF text-14px"
                                    (click)="goActivityDetail(activity.id)">
                                    > Đọc câu chuyện
                                </span>
                            </div>
                        </div>

                        <div
                            *ngIf="isEditMode"
                            class="absolute right-10-c top-10-c w-32-c h-32-c rounded-1/2 bg-white flex items-center justify-center"
                            (click)="onEditActivity(activity.id)">
                            <app-svg-icon
                                class="text-blue-00AFFF"
                                [width]="16"
                                [name]="'icon_pencil'">
                            </app-svg-icon>
                        </div>
                    </div>
                </ng-container>

                <!-- skeleton loader -->
                <ng-container *ngFor="let activity of loadingArr">
                <div *ngIf="isLoading" class="card is-loading">
                    <div class="image"></div>
                    <div class="content">
                        <h2></h2>
                        <p></p>
                    </div>
                </div>
                </ng-container>
            </div>
            </div>
        <div
            class="w-full text-center my-40-c"
            *ngIf="activities.length > 6">
			<app-custom-button
                class="uppercase text-22px hover:bg-white rounded-5px"
                [height]="40"
                [text]="'Hiển thị thêm'"
				[type]="'primary-outline'"
                (click)="loadMore()">
			</app-custom-button>
		</div>
	  </div>
  </dx-scroll-view>
</div>
