// For Outgoing Call Component
.icon-dial-pad-white {
    background: url("../images/app-common/ico-dialpad-white.png") transparent no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
}

.icon-dial-pad-blue {
    background: url("../images/app-common/ico-dialpad-blue.png") transparent no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
}

.icon-dial-pad-gray {
    background: url("../images/app-common/ico-dialpad-gray.png") transparent no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
}

// TODO: Keep
.icon-delete-call {
    background: url("../images/app-common/ico-delete.png") transparent no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
}
