@import "woosender-variable";
@import 'mixins';

$background-color-dark: #161923;
$background-color-light: #eef0f4;

// $text-color-dark: $color-black-3;
// $text-color-light: $color-black-8;
$text-color-dark: #000;
$text-color-light: #ccc;

$selected-text-color-dark: white;
$selected-text-color-light: white;

$text-font-size: 14;
$text-font-weight: 600;

$sub-menu-border-color-dark: #000;
$sub-menu-border-color-light: #ccc;

:host {
	.menu-container {
		transition: all 0.3s ease;
		position: relative;
		height: 100%;
		background-color:#000;
		color: #000;
		border-right: pxToRem(1) solid #000;

		.feature-group-title {
			display: inline-block;
			width: 100%;
			height: 33px;

			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		ul.menu-wrapper {
			margin: 0 16px;

			li {
				border-radius:8px;
        margin-bottom: 4px;
        height: 40px;
			}
		}

		.logo {
			height: 62px;;

			> img {
				height: 32px;
			}
		}

		&.expanded {
			width: 240px;
		}

		&.compacted {
			width: 72px;

			.messenger-section li.menu-item .unread-count {
				position: absolute;
				top: 6px;
				right: 0;
			}

			li.menu-item.parent-menu {
				width: 40px;
				margin-right: auto;
			}

			.logo {
				.arrow-icon {
					display: none;
				}
			}

			.menu-item {
				&--link {
					padding: 12px;

					.item-left {
						text-align: center;
					}

					.item-right {
						.action-create-project {
							display: none;
						}

						.icon-parent {
							display: none;
						}
					}
				}

				&.child-menu {
					.menu-item--link {
						padding-left: 12px;
					}
				}
			}

			::ng-deep .dx-scrollable-container {
				overflow: initial;
			}

			.group-title {
				text-align: center;

				&--text {
					display: none;
				}

				&--icon {
					display: inline-block;
				}
			}

			.bottom-section {
				.default-avatar {
					margin: 0 auto;
				}

				.info-name-rank {
					display: none;
				}

				.icon-warning {
					display: none;
				}
			}
		}

		// Menu selected style
		.navigation-section {
			height: calc(100vh - 334px - 27px); // TODO: Update when have setting icon
		}

		.logo {
			padding: 15px;
      vertical-align: middle;
      justify-content: space-between;

			.arrow-icon {
				color: #ccc;
        width: 14px;

				&:hover {
					color: #fff;
				}
			}
		}

		.line-separator {
			height: 1px;
			background: #000;
			margin: 15 0 15 0;
		}

		.group-title {
			color: #000;
			padding: 6px 12px;

			&--text {
				display: inline-block;
				// font-weight: $text-font-weight;
				font-size: 12px;
			}

			&--icon {
				display: none;
				width: 16px;
				color: #000;
			}
		}

		.menu-item {
			cursor: pointer;
			color: #ccc;
			display: flex;
			align-items: center;
			position: relative;

			&:hover,
			&:focus,
			&.active {
				background: #000;
				color: #fff;
			}

			&.parent-menu {
				.before {
					position: absolute;
					left: 0px;
					height: 100%;
					width: 4px;
				}

				&.active {
					.icon-parent {
						transform: rotate(90deg);
					}
				}
			}

			&.child-menu {
				.menu-item--link {
					color: #000;
				}
			}

			&--link {
				width: 100%;
				vertical-align: middle;
				justify-content: space-between;
				color: #000;
				text-decoration: none;
				padding: 12px;

				.item-left {
					width: 100%;
					display: inline-block;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;

					.item-icon {
						width: 16px;
            height: 16px;

						color: #000;
						vertical-align: middle;
					}

					> span {
						margin-left: 8px;
						vertical-align: middle;

						&.item-text {
							width: calc(100% - 24px);
						}
					}
				}

				.item-right {
					display: flex;
					align-items: center;

					.icon-parent {
						transition: all 0.3s ease-in-out;
						width: 14px;
					}
				}
			}
		}

		.bottom-section {
			height: 48px;;
			border-top: 1px solid #000;
			width: 100%;
		}

		.messenger-section {
			margin-top: 4px;
			border-top: 1px solid #000;

			li.menu-item {
				margin-top: 4px;
			}
		}
	}

	.light-theme.menu-container {
		// background-color: $background-color-light;
		// color: $text-color-light;

		&.expanded {
			ul.sub-menu {
				// border-color: $sub-menu-border-color-light;
			}
		}

		&.compacted {
			.group-title {
				&--icon {
					// color: $color-black-3;
				}
			}
		}

		// Menu selected style
		.navigation-section {
			.item-icon {
				// color: $color-black-6;
			}

			.action-create-project {
				&:hover {
					// background-color: $color-gray-100;
				}
			}
		}

		.menu-item {
			// color: $color-black-7;

			&.active,
			&:hover,
			&:focus {
				// background: $color-black-3;
				// color: $color-black-10;

				.arrow-icon {
					// color: $color-black-10;
				}
			}

			&--link {
				// color: $color-black-7;

				.item-left {
					.item-icon {
						// color: $text-color-light;
					}
				}

				.item-right {
					.action-create-project {
						&:hover {
							// background-color: $color-black-2;
						}
					}
				}
			}
		}

		.logo {
			.arrow-icon {
				&:hover {
					// color: $color-black-5;
				}
			}
		}

		.line-separator {
			// background: $color-black-3;
		}

		.bottom-section {
			// border-top: 1px solid $color-black-3;
		}

		.messenger-section {
			// border-top: 1px solid $color-black-3;
		}
	}
}
