<ng-container>
	<div
		class="menu-container"
		[ngClass]="{
			'expanded': !isCollapsed,
			'compacted': isCollapsed,
			'dark-theme': isDarkThemSelected,
			'light-theme': !isDarkThemSelected
		}">
		<div class="group-section">
			<div class="logo">
				<ng-container *ngIf="!isCollapsed; else compactedTemplate">
					<img
						[src]="
							isDarkThemSelected
								? 'assets/images/logo-white.svg'
								: 'assets/images/logo-black.svg'
						"
						alt="jerry-logo" />
				</ng-container>

				<ng-template #compactedTemplate>
					<img
						class="pointer"
						(click)="toggle($event)"
						[src]="
							isDarkThemSelected
								? 'assets/images/logo-cleeksy-border-1.svg'
								: 'assets/images/logo-cleeksy-border-2.svg'
						"
						alt="cleeksy-logo" />
				</ng-template>

				<app-svg-icon *ngIf="!isCollapsed"
                      [width]="10"
                      (click)="toggle($event)"
                      class="arrow-icon pointer"
                      [name]="'icon_chevron_left'">
				</app-svg-icon>
			</div>

			<ul class="menu-wrapper">
				<li
					class="menu-item parent-menu"
					routerLinkActive="active"
					routerLink="notification">
					<a class="menu-item--link" [title]="isCollapsed ? 'Thông báo' : ''">
						<span class="item-left">
							<app-svg-icon class="item-icon" [name]="'icon_notification'">
							</app-svg-icon>
							<span *ngIf="!isCollapsed" class="item-text">
								Thông báo
							</span>
						</span>
					</a>
				</li>

				<li class="menu-item parent-menu" routerLinkActive="active" routerLink="community">
					<a class="menu-item--link" [title]="isCollapsed ? 'Cộng đồng' : ''">
						<span class="item-left">
							<app-svg-icon class="item-icon" [name]="'icon_community'">
							</app-svg-icon>
							<span *ngIf="!isCollapsed" class="item-text">
								Cộng đồng
							</span>
						</span>
					</a>
				</li>

				<li class="menu-item parent-menu" routerLinkActive="active">
					<a
						class="menu-item--link"
						(click)="onSettingLinkClicked()"
						[title]="isCollapsed ? 'Thiết lập' : ''">
						<span class="item-left">
							<app-svg-icon class="item-icon" [name]="'icon_settings'">
							</app-svg-icon>
							<span *ngIf="!isCollapsed" class="item-text">
								Thiết lập
							</span>
						</span>
					</a>
				</li>
			</ul>
		</div>

		<div class="line-separator"></div>

		<div class="group-title feature-group-title animated fadeIn">
			<span *ngIf="!isCollapsed" class="group-title--text">Tính Năng</span>
			<app-svg-icon
				*ngIf="isCollapsed"
				class="group-title--icon"
				[name]="'icon_rhombus'">
			</app-svg-icon>
		</div>

		<div class="navigation-section">
			<dx-scroll-view [useNative]="isUseNative" [scrollByContent]="true" [scrollByThumb]="true">
				<div class="menu-section">
					<ul class="menu-wrapper position-relative">

					</ul>
				</div>
			</dx-scroll-view>
		</div>

		<div class="favorite-section"></div>

		<div class="messenger-section">
			<ul
				class="menu-wrapper"
				joyrideStep="messenger"
				stepPosition="right">
				<li
					class="menu-item parent-menu"
					module-name="messenger"
					(click)="isShowConversationBox = !isShowConversationBox">
					<a class="menu-item--link messenger" [title]="isCollapsed ? 'messenger' : ''">
						<span class="item-left">
							<app-svg-icon class="item-icon" name="icon_comment"> </app-svg-icon>

							<span *ngIf="!isCollapsed" class="item-text">
								Tin nhắn
							</span>
						</span>

						<span
							*ngIf="unreadMessagesCount > 0"
							[ngClass]="{ 'animated fadeIn': isCollapsed }">
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="bottom-section">
			<!-- <app-user-setting
				[isCompacted]="isCollapsed"
				[(isDarkThemeSelected)]="isDarkThemSelected">
			</app-user-setting> -->
		</div>
	</div>
</ng-container>

<!-- Menu item template -->
<ng-template #menuItemTemplate let-item="item">
	<a class="menu-item--link {{ item.icon }}" [title]="isCollapsed ? item?.text : ''">
		<span class="item-left">
			<app-svg-icon class="item-icon" [name]="item?.icon"> </app-svg-icon>
			<span *ngIf="!isCollapsed" class="item-text" [title]="item?.text">
				{{ item?.text }}
			</span>
		</span>
		<span
			class="item-right"
			*ngIf="!isCollapsed">

			<app-svg-icon class="icon-parent" *ngIf="item?.hasItems" [name]="'icon_chevron_right'">
			</app-svg-icon>
		</span>
	</a>
</ng-template>
