<ng-container >
  <div *ngIf="currentUser"
		   id="UserAvatar"
		   class="user-setting"
       [ngClass]="{ 'compacted': isCompacted,
                    'dark-theme': isDarkThemeSelected,
                    'light-theme': !isDarkThemeSelectedChange}"
		   (click)="showUserMenu($event)">
		<img *ngIf="!!userAvatar; else usernameAvatar"
         [src]="userAvatar"
			   class="default-avatar"
			   loading="lazy" />
		<ng-template #usernameAvatar>
			<app-svg-icon class="default-avatar"
                    [name]="'icon_avatar_default'"
                    [title]="currentUser?.name">
			</app-svg-icon>
		</ng-template>

		<div [title]="currentUser?.name"
         class="info-name-rank">
			<span class="full-name">{{ currentUser?.name }}</span>
		</div>
	</div>

<dx-popover *ngIf="isUserMenuVisible"
            target="#UserAvatar"
            position="top"
            [(visible)]="isUserMenuVisible"
            [animation]="POPUP_ANIMATION_DEFAULT"
            [width]="355"
            [height]="'fit-content'">
  <div class="user-menu">
    <div class="menu-wrapper">
      <div class="dropdown-divider"></div>
      <div class="list-item notification-dark-mode">
        <a class="dropdown-item pointer notification flex items-center">
          <div class="icon-text">
            <app-svg-icon
              class="cleesky--icon-target w-14-c mr-2-c"
              [name]="'icon_bell_notification'">
            </app-svg-icon>
            <span class="text">Thông báo</span>
          </div>
          <dx-switch [width]="32"
                     [height]="18"
                     [value]="false"
                     id="switchNotification">
            <!-- (onValueChanged)="changeNotificationValue($event)" -->
          </dx-switch>
        </a>
        <a class="dropdown-item pointer dark-mode flex items-center">
          <div class="icon-text">
            <app-svg-icon
              class="cleesky--icon-target w-14-c mr-2-c"
              [name]="'icon_dark_mode'">
            </app-svg-icon>
            <span class="text">Chế độ tối</span>
          </div>
          <dx-switch
            [width]="32"
            [height]="18"
            [(value)]="isDarkThemeSelected"
            [switchedOnText]="'Light'"
            [switchedOffText]="'Dark'"
            (onValueChanged)="changeTheme($event)">
          </dx-switch>
        </a>
      </div>

      <div class="dropdown-divider"></div>
      <div class="list-item">
        <a class="dropdown-item pointer flex items-center" (click)="goToProfile()">
          <span class="text">Thông tin cá nhân</span>
        </a>
        <a class="dropdown-item pointer flex items-center" (click)="openAccountSettingPopup()">
          <span class="text">Cài đặt tài khoản</span>
        </a>
        <a class="dropdown-item pointer flex items-center" (click)="goToManageRolePage()">
          <span class="text">Thiết lập hệ thống</span>
        </a>
      </div>
      <div class="dropdown-divider"></div>
      <div class="list-item help-security">
        <a class="dropdown-item pointer flex items-center" (click)="isUserMenuVisible = false">
          <span class="text">Trung tâm trợ giúp</span>
        </a>
        <a class="dropdown-item pointer flex items-center" (click)="isUserMenuVisible = false">
          <span class="text">Chính sách bảo mật</span>
        </a>
      </div>
      <div class="dropdown-divider"></div>
      <div class="list-item footer-logout pb-1-c">
        <a class="dropdown-item pointer flex items-center logout" (click)="logout()">
          <span class="text">Đăng xuất</span>
        </a>
      </div>
    </div>
  </div>
</dx-popover>
