
<div class="page-not-found__wrapper">
    <div class="page-not-found__error">404</div>
    <div class="page-not-found__content">
        <div class="page-not-found__title">Oops! This Page Could Not Be Found</div>
        <div class="page-not-found__description">SORRY BUT THE PAGE YOU ARE LOOKING FOR DOES NOT EXIST.
        </div>
        <div class="page-not-found__go-home pt-8-c">
            <button class="button-primary cursor-pointer"
                    (click)="takeMeHome()">Take Me Home
            </button>
        </div>
    </div>
</div>
