<form>
    <div class="login-container">
        <div class="introduce">
            <span class="trial-message">Login to your account</span>
        </div>
        <div class="main-content">
            <div class="field-area form-wrapper" appAutoFocusInput>
                <div class="box-properties">
                    <span class="field-label">Email</span>
                    <dx-text-box #emailTextBox
                                 class="field-box"
                                 placeholder="Enter Email"
                                 [valueChangeEvent]="'input'"
                                 [(value)]="login.email"
                                 (onFocusOut)="removeSpaces()"
                                 (onValueChanged)="dataChanged()"
                                 (onEnterKey)="signIn()">
                        <dx-validator>
                            <dxi-validation-rule type="required"
                                                 message="Email address is required">
                            </dxi-validation-rule>
                            <dxi-validation-rule type="email"
                                                 message="Invalid email address">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
                <div class="box-properties">
                    <span class="field-label">Password</span>
                    <dx-text-box #passwordTextBox
                                 class="field-box"
                                 mode="password"
                                 [inputAttr]="{ autocomplete: 'on' }"
                                 placeholder="Enter Password"
                                 [valueChangeEvent]="'input'"
                                 [(value)]="login.password"
                                 (onEnterKey)="signIn()"
                                 (onValueChanged)="dataChanged()">
                        <dx-validator>
                            <dxi-validation-rule type="required"
                                                 message="Password is required">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
                <div class="content-footer clearfix">
                    <div class="login-button flex items-center">
                        <app-custom-button class="float-left mr-4 w-100"
                                           [disabled]="!isDataValid || login.isLogging"
                                           [height]="40"
                                           icon="{{ login.isLogging ? 'fas fa-spinner fa-spin' : '' }}"
                                           [text]="'SIGN IN'"
                                           [type]="'primary'"
                                           (onClick)="signIn()">
                        </app-custom-button>
                      </div>

                      <app-custom-button class="ml-16 w-160-c cursor-pointer"
                                         [disabled]="!isDataValid || login.isLogging"
                                         [height]="40"
                                         icon="{{ login.isLogging ? 'fas fa-spinner fa-spin' : '' }}"
                                         [type]="'primary-outline'"
                                         (onClick)="signIn()">
                        <app-svg-icon [name]="'icon_google_logo'"
                                       [width]="16">
                        </app-svg-icon>
                        <span class="ml-8-c">Login with google</span>
                      </app-custom-button>

                    <div class="text-has-link forgot-password text-forgot">
                      <span (click)="forgotPassword()">
                        Forgot password?
                      </span>
                    </div>
                </div>
                <div class="line"></div>

                <div class="add-new-account text-center mb-4 flex items-center">
                    <p class="not-account mr-16-c">Do not have an account?</p>
                    <app-custom-button class="get-free-trial"
                                       [height]="35"
                                       [width]="120"
                                       [text]="'Sign Up Now'"
                                       [type]="'primary-outline'"
                                       (onClick)="getFreeTrial()">
                    </app-custom-button>
                </div>
            </div>
        </div>
    </div>
</form>
