@import "jerry-extend";
@import "jerry-variable";

.banner {
    height: calc(100vh - 54px);
    align-items: center;
    grid-template-columns: 55% 45%;
    display: grid;
    gap: 20px;
    background-color: #fff;

    .banner-image {
        position: relative;
        border-radius: 180px 40px 180px 40px;
        overflow: hidden;

        div {
            display: inline-block;
            position: absolute;
            left: 0;
            scale: 1.2;
            top: 0;
            bottom: 0;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    }

    .banner-content {
        padding: 60px 30px;
        // background-color: #1CABE2;
    }
}
