<div class="banner py-40-c px-20-c">
  <div class="h-full banner-image">
    <div> </div>
  </div>

  <div class="banner-content h-full flex items-center justify-center flex-col text-left">
    <div class="text-blue-00AFFF">
      <p class="text-50px leading-normal">Để tuổi thơ trở lại cho mọi trẻ em</p>
      <p class="text-24px leading-normal text-grey-777 mt-30-c">Chúng tôi đang đi tiên phong cùng với những cam kết và huy động mọi nguồn lực để đưa #tuổi_thơ_trở_lại cho mọi trẻ em.</p>
    </div>
    <div class="w-full text-right mt-60-c">
      <app-custom-button
        class="uppercase text-22px hover:bg-white rounded-5px"
        [height]="40"
        [text]="'Tìm hiểu & Tham gia'"
        [type]="'primary'">
      </app-custom-button>
    </div>
  </div>
</div>
