<div class="banner">
  <div class="h-full banner-image">
    <div> </div>
  </div>

  <div class="banner-content h-full flex items-center justify-center flex-col text-left">
    <div class="text-white">
      <p class="text-30px">Để Tuổi_thơ_trở_lại cho mọi trẻ em</p>
      <p class="text-18px">UNICEF Việt Nam đang đi tiên phong cùng với những cam kết và huy động mọi nguồn lực để đưa #tuổi_thơ_trở_lại cho mọi trẻ em.</p>
    </div>
    <div class="w-full text-left">
      <app-custom-button
        class="uppercase text-20px"
        [height]="40"
        [text]="'Tìm hiểu & Tham gia'"
        [type]="'primary-outline'">
      </app-custom-button>
    </div>
  </div>
</div>
