@import "jerry-extend";
@import "jerry-variable";

.banner {
  height: 700px;
  flex-direction: row;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  display: grid;
  gap: 20px;

  .banner-image {
    position: relative;

    div {
      border-radius: 180px 40px 180px 40px;
      background-image: url(https://junkodanang.com/assets/images/campaign/trip-mua-xuan.jpg);
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      max-height: 700px;
      background-size: cover;
    }
  }

  .banner-content {
    padding: 60px 30px;
    // background-color: #1CABE2;
  }
}
