::ng-deep .ql-toolbar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

::ng-deep .ql-container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: calc(100% - 66px);
}

