
<div class="h-full flex flex-col overflow-y-scroll relative border-custom overflow-hidden">
    <app-activities
        class="h-full"
        *ngIf="!isShowCreatePage"
        [isDataValid]="isDataValid"
        (onShowCreatePage)="onShowCreatePage($event)"
        (onEditActivity)="onEditActivity($event)">
    </app-activities>

  <div *ngIf="isShowCreatePage" class="text-20px font-gotham-bold p-24-c flex items-center justify-between text-blue-282E3E children-management__header">
    <app-custom-button
        class="w-80-c cursor-pointer"
        [height]="35"
        [text]="'Quay lại'"
        [type]="'primary-outline'"
        (click)="goBack()">
    </app-custom-button>
    <div>
      <app-custom-button
        class="mx-16-c w-80-c cursor-pointer"
        [height]="35"
        [text]="'Cài đặt'"
        [type]="'primary'"
        (click)="openSetting()">
      </app-custom-button>

      <app-custom-button
        class="ml-16 cursor-pointer"
        [height]="35"
        [disabled]="!isDataValid"
        [text]="isEditMode ? 'Lưu thay đổi' : 'Đăng'"
        icon="{{ isProcessing ? 'fas fa-spinner fa-spin' : '' }}"
        [type]="'primary'"
        (click)="addActivity()">
      </app-custom-button>
    </div>
  </div>

  <div *ngIf="isShowCreatePage" class="box-properties px-24-c">
    <dx-text-box class="field-box"
                  [inputAttr]="{ autocomplete: 'on' }"
                  placeholder="Nhập tiêu đề..."
                  [(value)]="activity.title"
                  [valueChangeEvent]="'input'"
                  (onValueChanged)="dataChanged()">
    </dx-text-box>
  </div>

  <div *ngIf="isShowCreatePage" class="p-24-c quill-editor">
    <quill-editor
      class="quill-editor__content"
      [(ngModel)]="activity.content"
      (onContentChanged)="dataChanged()"
      [placeholder]="''">
    </quill-editor>
  </div>
</div>


<app-activity-setting-popup
  [(visible)]="isShowSettingPopup"
  [activity]="activity"
  (onSaveSetting)="saveActivitySetting($event)"></app-activity-setting-popup>
