::ng-deep .ql-toolbar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

::ng-deep .ql-container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: calc(100% - 66px);
}

.border-custom {
    border-top: 1px solid rgb(235, 233, 233);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}

.quill-editor {
    height: 87%;
}
