

.home-content-wrapper {
    .home-content-content {
        .home-chart {
            padding: 30px;
            height: 60%
        }

        .home-list-donate {
            padding: 30px;
            height: 40%;
        }
    }
}
