<dx-load-panel
    *ngIf="false"
    [visible]="false"
    shadingColor="#ffffffcc"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true">
</dx-load-panel>
<!-- <app-account-search (onSearchAction)="onSearchLocation($event)"></app-account-search> -->

<dx-data-grid
    id="gridContainer"
    [dataSource]="dataSource"
    [columnHidingEnabled]="false"
    [showBorders]="true"
    [showRowLines]="true"
    [showColumnLines]="false"
    [hoverStateEnabled]="true"
    [rowAlternationEnabled]="false"
    class="location-data-grid-container h-full"
    >
    <!-- (onRowClick)="onOpenRequestDetail($event)" -->
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dx-load-panel [visible]="false"></dx-load-panel>
    <dxo-pager
        [showInfo]="true"
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 20]"
        [showNavigationButtons]="true">
    </dxo-pager>
    <dxo-remote-operations [filtering]="true" [sorting]="true" [paging]="true"></dxo-remote-operations>
    <!-- *ngIf="status === locationStatus.Active" -->
    <dxi-column
        dataField="adopter_name"
        [caption]="'Người nhận nuôi'"
        [allowSorting]="false"
        class="text-dark column-header"
        cellTemplate="adopterCellTemplate">
        <div *dxTemplate="let cell of 'adopterCellTemplate'" (click)="onOpenRequestDetail(cell.data)">
            {{ cell.data.adopter_name }}
        </div>
    </dxi-column>
    <!-- *ngIf="status === locationStatus.Pending" -->
    <dxi-column
        dataField="children.name"
        [caption]="'Trẻ nhận nuôi'"
        [allowSorting]="false"
        class="text-dark column-header">
    </dxi-column>
    <!-- *ngIf="status === locationStatus.Active" -->
    <dxi-column
        dataField="created_at"
        [allowSorting]="false"
        caption="Thời gian tạo"
        class="column-header"
        cellTemplate="dateCellTemplate">
        <div *dxTemplate="let cell of 'dateCellTemplate'">
            {{ cell.data.created_at | date: 'M/d/yyyy' }}
        </div>
    </dxi-column>
    <!-- *ngIf="status === locationStatus.Active" -->
    <dxi-column
        dataField="approver"
        [allowSorting]="false"
        [caption]="'Người xác nhận'"
        class="text-dark column-header">
    </dxi-column>
    <!-- *ngIf="status === locationStatus.Active" -->
    <dxi-column
        dataField="status"
        [allowSorting]="false"
        [caption]="'Trạng thái'"
        cellTemplate="statusCellTemplate"
        class="text-dark column-header">
        <div *dxTemplate="let cell of 'statusCellTemplate'">
            <div>{{cell.data.status | lookupValue : CHILD_REQUEST_STATUS }}</div>
        </div>
    </dxi-column>
    <!-- *ngIf="status === locationStatus.Active" -->
    <!-- <dxi-column
        [width]="60"
        [fixed]="true"
        alignment="center"
        cellTemplate="actionsCellTemplate"
        fixedPosition="right"
        [caption]="''"
        class="column-header">
        <div *dxTemplate="let cell of 'actionsCellTemplate'">
            <div class="option-button" (click)="editAdditionalLocation(cell.data.id, $event)">Edit</div>
        </div>
    </dxi-column> -->
    <!-- *ngIf="status === locationStatus.Pending" -->
    <dxi-column
        [width]="230"
        [fixed]="true"
        alignment="left"
        cellTemplate="actionsCellTemplate"
        fixedPosition="right"
        [caption]="''">
        <div *dxTemplate="let cell of 'actionsCellTemplate'">
            <div class="btn-group">
                <dx-button
                    *ngIf="status === requestStatus.Pending"
                    [ngClass]="'mx-4-c'"
                    [focusStateEnabled]="false"
                    type="default"
                    text="Approve"
                    (onClick)="openApproveRequestPopup(cell.data.id)">
                </dx-button>
                <dx-button
                    *ngIf="status === requestStatus.Pending || status === requestStatus.Active"
                    [ngClass]="'mx-4-c puzzle-btn'"
                    [focusStateEnabled]="false"
                    text="Reject "
                    (onClick)="openRejectRequestPopup(cell.data.id)">
                </dx-button>
            </div>
            <!-- <div class="btn-group">
                <dx-button
                    *ngIf="status === requestStatus.Active"
                    [ngClass]="'mx-2 puzzle-btn'"
                    [focusStateEnabled]="false"
                    text="Cancel Invite "
                    (onClick)="openCancelInvitePopup(cell.data.id)">
                </dx-button>
            </div> -->
            <!-- <div class="btn-group">
                <dx-button
                    *ngIf="status === requestStatus.Inactive"
                    [ngClass]="'mx-2 puzzle-btn'"
                    [focusStateEnabled]="false"
                    text="Active "
                    (onClick)="openApproveRequestPopup(cell.data.id)">
                </dx-button>
            </div> -->
        </div>
    </dxi-column>
</dx-data-grid>

<ng-container *ngIf="isApprovePopup">
    <app-popup-confirmation
        [width]="'auto'"
        [title]="'Xác nhận'"
        [visible]="true"
        confirmButtonTitle="Yes"
        cancelButtonTitle="Cancel"
        (onHiding)="isApprovePopup = false"
        (onConfirm)="onApproveRequest($event)">
        <p>Bạn có chắc chắn chấp nhận yêu cầu này?.</p>
    </app-popup-confirmation>
</ng-container>

<ng-container *ngIf="isRejectPopup">
    <app-popup-confirmation
        [width]="'auto'"
        [title]="'Xác nhận'"
        [(visible)]="isRejectPopup"
        confirmButtonTitle="Yes"
        cancelButtonTitle="Cancel"
        (onHiding)="isRejectPopup = false"
        (onConfirm)="onRejectRequest($event)">
        <p>Bạn có chắc chắn từ chối yêu cầu này? <br> Bạn không thể hoàn tác hành động này.</p>
    </app-popup-confirmation>
</ng-container>

<ng-container *ngIf="isCancelPopup">
    <app-popup-confirmation
        [title]="'Xác nhận'"
        [width]="'auto'"
        [(visible)]="isCancelPopup"
        confirmButtonTitle="Yes"
        cancelButtonTitle="Cancel"
        (onHiding)="isCancelPopup = false"
        (onConfirm)="onCancelInvite($event)">
        <p>Bạn có chắc chắn hủy yêu cầu này? <br> Bạn không thể hoàn tác hành động này.</p>
    </app-popup-confirmation>
</ng-container>

<!-- Request detail  -->
<app-popup-container *ngIf="isShowRequestDetailPopup && requestDetail.adopt_request_detail"
                    [height]="'100%'"
                    [width]="750"
                    [title]="'Chi tiết yêu cầu'"
                    [(visible)]="isShowRequestDetailPopup"
                    [customPopupAnimation]="POPUP_ANIMATION"
                    (onHiding)="hidePopup()">
    <app-child-request-edit-form [requestId]="requestDetail.adopt_request_detail"></app-child-request-edit-form>
</app-popup-container>
