<dx-load-panel
  *ngIf="isLoadingPage"
  [visible]="true"
  shadingColor="#ffffffcc"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
>
</dx-load-panel>
<!-- <app-account-search (onSearchAction)="onSearchLocation($event)"></app-account-search> -->
<dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  [columnHidingEnabled]="false"
  [showBorders]="true"
  [showRowLines]="true"
  [showColumnLines]="false"
  [hoverStateEnabled]="true"
  [rowAlternationEnabled]="false"
  class="location-data-grid-container"
>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
    [showInfo]="true"
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 20]"
    [showNavigationButtons]="true"
  >
  </dxo-pager>
  <dxo-remote-operations [filtering]="true" [sorting]="true" [paging]="true"></dxo-remote-operations>
  <!-- *ngIf="status === locationStatus.Active" -->
  <dxi-column
    dataField="name"
    [caption]="'Organization name'"
    [allowSorting]="false"
    class="text-dark column-header"
  ></dxi-column>
  <!-- *ngIf="status === locationStatus.Pending" -->
  <dxi-column
    dataField="subOrganization.name"
    [caption]="'Organization name'"
    [allowSorting]="false"
    class="text-dark column-header"
  >
  </dxi-column>
  <!-- *ngIf="status === locationStatus.Active" -->
  <dxi-column
    dataField="streetAddress"
    [allowSorting]="false"
    caption="Address"
    class="column-header"
  >
  </dxi-column>
  <!-- *ngIf="status === locationStatus.Active" -->
  <dxi-column
    dataField="city"
    [allowSorting]="false"
    [caption]="'City'"
    class="text-dark column-header"
  >
  </dxi-column>
  <!-- *ngIf="status === locationStatus.Active" -->
  <dxi-column
    dataField="state"
    [allowSorting]="false"
    [caption]="'State/Zip'"
    class="text-dark column-header"
    cellTemplate="stateTemplate"
    headerCellTemplate="stateHeaderTemplate"
  >
    <div *dxTemplate="let cell of 'stateTemplate'">
      <div>
        <span *ngIf="cell.data.state">{{ cell.data.state }}</span>
        <span *ngIf="cell.data.zipcode">{{ ' ' + cell.data.zipcode }}</span>
      </div>
    </div>
  </dxi-column>
  <div *dxTemplate="let info of 'stateHeaderTemplate'" class="column-state">
    <p>{{ info.column.caption }}</p>
  </div>
  <!-- *ngIf="status === locationStatus.Pending" -->
  <dxi-column
    dataField="email"
    [allowSorting]="false"
    [caption]="'Email'"
    class="text-dark column-header"
  >
  </dxi-column>
  <!-- *ngIf="status === locationStatus.Pending" -->
  <dxi-column
    dataField="type"
    alignment="left"
    [allowSorting]="false"
    [caption]="'Status'"
    class="text-dark column-header"
    cellTemplate="statusCellTemplate"
  >
    <div *dxTemplate="let cell of 'statusCellTemplate'">
      <!-- {{ cell.data.type | lookupValue: ORGANIZATION_STATUS:'id':'text' }} -->
    </div>
  </dxi-column>
  <!-- *ngIf="status === locationStatus.Pending" -->
  <dxi-column
    dataField="createdAt"
    [allowSorting]="false"
    [caption]="'Invite Date'"
    class="text-dark column-header"
    cellTemplate="dateCellTemplate"
  >
    <div *dxTemplate="let cell of 'dateCellTemplate'">
      {{ cell.data.createdAt | date: 'M/d/yyyy' }}
    </div>
  </dxi-column>
  <!-- *ngIf="status === locationStatus.Active" -->
  <dxi-column
    [width]="60"
    [fixed]="true"
    alignment="center"
    cellTemplate="actionsCellTemplate"
    fixedPosition="right"
    [caption]="''"
    class="column-header"
  >
    <div *dxTemplate="let cell of 'actionsCellTemplate'">
      <div class="option-button" (click)="editAdditionalLocation(cell.data.id, $event)">Edit</div>
    </div>
  </dxi-column>
  <!-- *ngIf="status === locationStatus.Pending" -->
  <dxi-column
    [width]="230"
    [fixed]="true"
    alignment="left"
    cellTemplate="actionsCellTemplate"
    fixedPosition="right"
    [caption]="''"
  >
  <!-- *ngIf="status === locationStatus.Pending && cell.data.type === userStatusEnum.PendingApprove" -->
    <div *dxTemplate="let cell of 'actionsCellTemplate'">
      <div
        class="btn-group"
      >
        <dx-button
          [ngClass]="'mx-2'"
          [focusStateEnabled]="false"
          type="default"
          text="Approve"
          (onClick)="openApproveRequestPopup(cell.data.id)"
        >
        </dx-button>
        <dx-button
          [ngClass]="'mx-2 puzzle-btn'"
          [focusStateEnabled]="false"
          text="Reject "
          (onClick)="openRejectRequestPopup(cell.data.id)"
        >
        </dx-button>
      </div>
      <!-- *ngIf="status === locationStatus.Pending && cell.data.type === userStatusEnum.PendingInvitationAcceptance" -->
      <div
        class="btn-group"
      >
        <dx-button
          [ngClass]="'mx-2 puzzle-btn'"
          [focusStateEnabled]="false"
          text="Cancel Invite "
          (onClick)="openCancelInvitePopup(cell.data.id)"
        >
        </dx-button>
      </div>
    </div>
  </dxi-column>
</dx-data-grid>

<ng-container *ngIf="isApprovePopup">
  <app-popup-confirmation confirmButtonTitle="Yes" cancelButtonTitle="Cancel" (onConfirm)="onApproveRequest($event)">
    <p>Are you sure that you want to approve this organization access request?  You cannot undo this action.</p>
  </app-popup-confirmation>
</ng-container>

<ng-container *ngIf="isRejectPopup">
    <app-popup-confirmation confirmButtonTitle="Yes" cancelButtonTitle="Cancel" (onConfirm)="onRejectRequest($event)">
        <p>Are you sure that you want to reject  this organization access request ? You cannot undo this action.</p>
    </app-popup-confirmation>
</ng-container>

<ng-container *ngIf="isCancelPopup">
    <app-popup-confirmation confirmButtonTitle="Yes" cancelButtonTitle="Cancel" (onConfirm)="onCancelInvite($event)">
        <p>Are you sure that you want to cancel invite this organization?  You cannot undo this action.</p>
    </app-popup-confirmation>
</ng-container>
