<div class="news">
	<div class="content-box">
		<div class="text-30px text-center pb-40-c pt-60-c">
			Tin tức và sự kiện chính
		</div>

		<div class="">
			<div class="news-content">
				<div class="card card-large"  *ngIf="!isLoading">
					<div class="image">
						<img :src="{{activites[0].cover_picture}}" alt="">
					</div>

					<div class="content">
						<p class="text-22px leading-28px">{{activites[0].activity_type | lookupValue : activityTypes : 'id' : 'name'}}</p>
						<p class="text-16px leading-22px">{{activites[0].title}}</p>
						<div class="button cursor-pointer">
							<span class="text-blue-00AFFF text-14px"
              (click)="goActivityDetail(activites[0].id)">> Xem chi tiết</span>
						</div>
					</div>
				</div>

        <ng-container
         *ngFor="let activity of activites; index as actionIndex;">
          <div
            *ngIf="!isLoading && actionIndex >= 1"
            class="card flex flex-col items-center">
            <div class="w-full">
              <img class="w-full h-200 object-cover" loading="lazy"
                :src="{{activity.cover_picture}}" width="480" height="320"
                alt="What you need to know about COVID-19 vaccines" typeof="foaf:Image">
            </div>

            <div class="content">
              <div class="pb-10-c pt-6-c text-blue-00AFFF">{{activity.activity_type | lookupValue : activityTypes : 'id' : 'name'}}</div>
              <p class="text-22px leading-28px">{{activity.title}}</p>
              <p class="text-16px leading-22px">  </p>
              <div class="button">
                <span class="text-blue-00AFFF text-14px"
                      (click)="goActivityDetail(activity.id)">> Đọc câu chuyện</span>
              </div>
            </div>
          </div>
        </ng-container>

        <!-- skeleton loader -->
        <ng-container *ngFor="let activity of loadingArr">
          <div *ngIf="isLoading" class="card is-loading">
            <div class="image"></div>
            <div class="content">
              <h2></h2>
              <p></p>
            </div>
          </div>
        </ng-container>
			</div>
		</div>

		<div class="w-full text-center my-40-c">
			<app-custom-button class="uppercase text-22px hover:bg-white rounded-5px" [height]="40" [text]="'Hiển thị thêm'"
				[type]="'primary-outline'">
			</app-custom-button>
		</div>

		<div class="py-60-c flex items-start justify-center">
			<div class="w-1/3 rounded-5px overflow-hidden">
				<img class="max-w-none w-full "
					src="../../../../../../assets/images/app-common/orphane1.avif"
					alt="">
			</div>

			<div class="ml-28-c w-2/3">
				<p class="text-16px">Bạn muốn giúp đỡ trẻ em gặp khó khăn tại Việt Nam? Đầu tiên, mời bạn đăng ký vào danh sách
					nhận thông tin từ chúng tôi và tìm hiểu về những cách bạn có thể tham gia hỗ trợ cùng chúng tôi!</p>
				<p class="text-16px">Hàng tháng bạn sẽ nhận được bản tin về các hoạt động của chúng tôi, mẹo chăm sóc con cái,
					các sự kiện, ảnh và câu chuyện về trẻ em từ những người đã đăng ký nhận bản tin từ chúng tôi và hơn thế nữa!
				</p>
				<app-custom-button
					class="uppercase text-22px hover:bg-white rounded-5px"
					[height]="40"
					[text]="'Đăng kí nhận thông tin ngay'"
					[type]="'primary'"
					(onClick)="visibleRegisterPopup()">
				</app-custom-button>
			</div>
		</div>
	</div>

	<div class="bg-white pt-60-c pb-100-c">
		<div class="text-30px text-center max-w-3xl mx-auto mb-60-c">
			Công việc của chúng tôi định hướng bởi Công ước Liên Hợp Quốc về Quyền Trẻ em
		</div>

		<div class="content-box">
			<iframe width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"
				src="https://www.youtube.com/embed/LjkayYf36bQ?autoplay=0&amp;start=0&amp;rel=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.unicef.org"
				data-gtm-yt-inspected-351560_173="true" id="124924609" data-gtm-yt-inspected-351560_353="true"
				data-gtm-yt-inspected-351560_413="true" data-gtm-yt-inspected-351560_673="true"
				data-gtm-yt-inspected-351560_694="true" data-gtm-yt-inspected-135="true" data-gtm-yt-inspected-142="true"
				data-gtm-yt-inspected-146="true" title="Tái hiện Hy Vọng - Hope Reimagine | Liam Nesson"></iframe>
			<div class="text-15px leading-20px italic mt-16-c">Đại sứ Thiện Chí của UNICEF Liam Nesson giới thiệu lịch sử hoạt
				động của UNICEF trong các trận đại dịch và dịch bệnh trong 75 năm qua. Video trình bày hình ảnh lưu trữ của
				UNICEF từ nhiều địa điểm khác nhau và từ các chiến dịch khác nhau kéo dài từ năm 1946 đến năm 2020. Video là một
				phần của chiến dịch Tái hiện Hy vọng của UNICEF trong kỳ đại dịch COVID-19 đang diễn ra.</div>
			<div class="text-30px leading-38px mt-48-c underline decoration-2 max-w-4xl text-center mx-auto cursor-pointer hover:text-blue-00AFFF">
				Nếu bạn chưa biết về Công ước của Liên Hợp Quốc về Quyền Trẻ em hãy cùng tìm hiểu tại đây
			</div>
		</div>
	</div>

	<div class="article-donation">
		<div class="h-full">
			<img class="max-w-none w-full h-full object-cover"
				src="../../../../../../assets/images/app-common/orphan.avif"
				alt="">
		</div>

		<div class="bg-blue-00AFFF p-40-c pr-100-c flex items-center flex-col justify-center h-full text-left text-white">
			<p class="text-30px leading-38px">Quyên góp để mọi trẻ em tận hưởng một tuổi thơ hạnh phúc</p>
			<p class="text-18px leading-31px">Ủng hộ, cung cấp các hàng hóa thiết yếu để ngăn chặn sự lây lan của COVID-19 và
				các bệnh khác. Khoản đóng góp của bạn có thể cung cấp cho trẻ em và gia đình sự bảo vệ, chăm sóc sức khỏe và
				giáo dục quan trọng.</p>
      <div class="w-full text-left">
        <app-custom-button
          class="uppercase text-22px hover:bg-white rounded-5px"
          [height]="40"
          [text]="'Tìm hiểu thêm'"
          [type]="'primary-outline'">
        </app-custom-button>
      </div>
		</div>
	</div>

	<div class="bg-white">
		<div class="w-full max-w-4xl mx-auto text-center p-60-c">
			<div class="h-3-c w-200-c bg-blue-00AFFF mx-auto"></div>
			<div class="p-20-c">
				<p class="text-28px leading-38px">
					<strong>
						Trẻ em cần những người tiên phong dẫn đầu.
					</strong>
				</p>
				<p class="text-28px leading-38px">Tham gia, nói chuyện, tình nguyện và tạo cho mọi trẻ em một cơ hội công bằng để vươn tới thành công.</p>
			</div>
			<div class="h-3-c w-200-c bg-blue-00AFFF mx-auto"></div>
			<div class="text-30px leading-38px underline decoration-2 mt-40-c cursor-pointer hover:text-blue-00AFFF">Hãy đồng hành cùng chúng tôi!</div>
		</div>
	</div>

  <app-client-footer></app-client-footer>
</div>

<dx-popup
	class="register-popup-container"
	[width]="600"
	[height]="390"
	[showTitle]="true"
	title="Đăng kí nhận thông tin"
	[dragEnabled]="false"
	[hideOnOutsideClick]="true"
	[shading]="true"
	[shadingColor]="'rgba(0,0,0,0.7)'"
	[showCloseButton]="true"
	[(visible)]="isShowRegisterPopup"
>
	<div>
		<div class="field-area form-wrapper" appAutoFocusInput>
			<div class="box-properties">
					<span class="field-label">Họ và tên</span>
					<dx-text-box #passwordTextBox
											 class="field-box"
											 mode="text"
											 placeholder="Your name"
                       [(value)]="sendData.name"
											 [valueChangeEvent]="'input'">
							<dx-validator>
									<dxi-validation-rule type="required"
																			 message="Password is required">
									</dxi-validation-rule>
							</dx-validator>
					</dx-text-box>
			</div>

      <div class="box-properties">
        <span class="field-label">Địa chỉ Email</span>
        <dx-text-box #emailTextBox
                     class="field-box"
                     placeholder="Enter Email"
                     [(value)]="sendData.email"
                     [valueChangeEvent]="'input'">
            <dx-validator>
                <dxi-validation-rule type="required"
                                     message="Email address is required">
                </dxi-validation-rule>
                <dxi-validation-rule type="email"
                                     message="Invalid email address">
                </dxi-validation-rule>
            </dx-validator>
        </dx-text-box>
    </div>

    <div class="box-properties">
      <span class="field-label">Mật khẩu</span>
      <dx-text-box #emailTextBox
                    class="field-box"
                    placeholder="Mật khẩu"
                    [(value)]="sendData.password"
                    [valueChangeEvent]="'input'">
          <dx-validator>
              <dxi-validation-rule type="required"
                                    message="This field is required">
              </dxi-validation-rule>
          </dx-validator>
      </dx-text-box>
    </div>

    <div class="content-footer clearfi mt-16-c">
      <div class="login-button flex items-center">
          <app-custom-button class="float-left mr-4"
                              [height]="40"
                              [disabled]="isRegistering"
                              icon="{{ isRegistering ? 'fas fa-spinner fa-spin' : '' }}"
                              [width]="120"
                              [text]="'Theo dõi ngay'"
                              [type]="'primary'"
                              (onClick)="sendInfo()">
          </app-custom-button>
        </div>
    </div>
	</div>
	</div>
</dx-popup>
