<div class="news">
<div class="text-30px text-center pb-40-c">
	Tin tức và sự kiện chính
</div>

<div class="flex justify-center items-center">
  <div class="news-content">
    <div class="card card-large">
      <div class="image">
        <img src="../../../../../../assets/images/app-common/safe.jpg" alt="">
      </div>
      <div class="content">
        <p class="text-22px leading-28px">Bảo vệ chính mình, gia đình và những người thân yêu của bạn</p>
        <p class="text-16px leading-22px">Đại dịch COVID-19 suốt hai năm qua đã gây đảo lộn cuộc sống của nhiều trẻ em và gia đình trên khắp thế
        giới...</p>
        <div class="button cursor-pointer">
          <span class="text-blue-00AFFF text-14px">> Xem chi tiết</span>
        </div>
      </div>
    </div>

    <div class="card flex flex-col items-center">
      <div class="">
        <div class="">
          <div class="">
            <img class="w-full h-200 object-cover" loading="lazy"
              src="../../../../../../assets/images/app-common/vacxin.jpg"
              width="480" height="320" alt="What you need to know about COVID-19 vaccines" typeof="foaf:Image">
          </div>
        </div>
      </div>

      <div class="content">
        <div class="pb-10-c pt-6-c">Bài viết</div>
        <p class="text-22px leading-28px">
          Những điều cần biết về vắc-xin COVID-19
        </p>
        <p class="text-16px leading-22px">
          Trả lời những câu hỏi thường gặp nhất về việc phát triển và triển khai tiêm vắc-xin COVID-19 tại Việt Nam.
        </p>
        <div class="button">
          <span class="text-blue-00AFFF text-14px">> Đọc câu chuyện</span>
        </div>
      </div>
    </div>

    <div class="card flex flex-col items-center">
      <div class="">
        <div class="">
          <div class="">
            <img class="w-full h-200 object-cover" loading="lazy"
              src="https://www.unicef.org/vietnam/sites/unicef.org.vietnam/files/styles/large/public/DSCF3071_Noru.jpg?itok=BliKeG7M"
              width="480" height="320" alt="What you need to know about COVID-19 vaccines" typeof="foaf:Image">
          </div>
        </div>
      </div>

      <div class="content">
        <div class="pb-10-c pt-6-c">Bài viết</div>
        <!-- <p class="text-22px leading-28px">
        </p> -->
        <p class="text-16px leading-22px">
          Những quan ngại về tác động của bão Noru đối với trẻ em và gia đình ở Việt Nam và sẵn sàng hỗ trợ Chính phủ trong công tác ứng phó
        </p>
        <div class="button">
          <span class="text-blue-00AFFF text-14px">> Đọc câu chuyện</span>
        </div>
      </div>
    </div>

    <div class="card flex flex-col items-center">
      <div class="">
        <div class="">
          <div class="">
            <img class="w-full h-200 object-cover" loading="lazy"
              src="https://www.unicef.org/vietnam/sites/unicef.org.vietnam/files/styles/large/public/411A6539.jpg?itok=j5fzzbDO"
              width="480" height="320" alt="What you need to know about COVID-19 vaccines" typeof="foaf:Image">
          </div>
        </div>
      </div>

      <div class="content">
        <div class="pb-10-c pt-6-c">Bài viết</div>
        <p class="text-22px leading-28px">
          Những điều cần biết về vắc-xin COVID-19
        </p>
        <p class="text-16px leading-22px">
          Trả lời những câu hỏi thường gặp nhất về việc phát triển và triển khai tiêm vắc-xin COVID-19 tại Việt Nam.
        </p>
        <div class="button">
          <span class="text-blue-00AFFF text-14px">> Đọc câu chuyện</span>
        </div>
      </div>
    </div>

    <div class="card flex flex-col items-center">
      <div class="">
        <div class="">
          <div class="">
            <img class="w-full h-200 object-cover" loading="lazy"
              src="https://www.unicef.org/vietnam/sites/unicef.org.vietnam/files/styles/large/public/UN0355854.JPG?itok=P5JULiHr"
              width="480" height="320" alt="What you need to know about COVID-19 vaccines" typeof="foaf:Image">
          </div>
        </div>
      </div>

      <div class="content">
        <div class="pb-10-c pt-6-c">Bài viết</div>
        <p class="text-22px leading-28px">
          Những điều cần biết về vắc-xin COVID-19
        </p>
        <p class="text-16px leading-22px">
          Trả lời những câu hỏi thường gặp nhất về việc phát triển và triển khai tiêm vắc-xin COVID-19 tại Việt Nam.
        </p>
        <div class="button">
          <span class="text-blue-00AFFF text-14px">> Đọc câu chuyện</span>
        </div>
      </div>
    </div>

    <div class="card flex flex-col items-center">
      <div class="">
        <div class="">
          <div class="">
            <img class="w-full h-200 object-cover" loading="lazy"
              src="https://www.unicef.org/vietnam/sites/unicef.org.vietnam/files/styles/large/public/Hero%20image-02.jpg?itok=FK5K6NCu"
              width="480" height="320" alt="What you need to know about COVID-19 vaccines" typeof="foaf:Image">
          </div>
        </div>
      </div>

      <div class="content">
        <div class="pb-10-c pt-6-c">Bài viết</div>
        <p class="text-22px leading-28px">
          Những điều cần biết về vắc-xin COVID-19
        </p>
        <p class="text-16px leading-22px">
          Trả lời những câu hỏi thường gặp nhất về việc phát triển và triển khai tiêm vắc-xin COVID-19 tại Việt Nam.
        </p>
        <div class="button">
          <span class="text-blue-00AFFF text-14px">> Đọc câu chuyện</span>
        </div>
      </div>
    </div>
  </div>
</div>
