<div class="news">
  <div class="content-box">
    <div class="text-30px text-center pb-40-c">
      Tin tức và sự kiện chính
    </div>

    <div class="">
      <div class="news-content">
        <div class="card card-large">
          <div class="image">
            <img src="../../../../../../assets/images/app-common/safe.jpg" alt="">
          </div>

          <div class="content">
            <p class="text-22px leading-28px">Bảo vệ chính mình, gia đình và những người thân yêu của bạn</p>
            <p class="text-16px leading-22px">Đại dịch COVID-19 suốt hai năm qua đã gây đảo lộn cuộc sống của nhiều trẻ em và gia đình trên khắp thế
            giới...</p>
            <div class="button cursor-pointer">
              <span class="text-blue-00AFFF text-14px">> Xem chi tiết</span>
            </div>
          </div>
        </div>

        <div class="card flex flex-col items-center">
          <div class="">
            <div class="">
              <div class="">
                <img class="w-full h-200 object-cover" loading="lazy"
                  src="../../../../../../assets/images/app-common/vacxin.jpg"
                  width="480" height="320" alt="What you need to know about COVID-19 vaccines" typeof="foaf:Image">
              </div>
            </div>
          </div>

          <div class="content">
            <div class="pb-10-c pt-6-c">Bài viết</div>
            <p class="text-22px leading-28px">
              Những điều cần biết về vắc-xin COVID-19
            </p>
            <p class="text-16px leading-22px">
              Trả lời những câu hỏi thường gặp nhất về việc phát triển và triển khai tiêm vắc-xin COVID-19 tại Việt Nam.
            </p>
            <div class="button">
              <span class="text-blue-00AFFF text-14px">> Đọc câu chuyện</span>
            </div>
          </div>
        </div>

        <div class="card flex flex-col items-center">
          <div class="">
            <div class="">
              <div class="">
                <img class="w-full h-200 object-cover" loading="lazy"
                  src="https://www.unicef.org/vietnam/sites/unicef.org.vietnam/files/styles/large/public/DSCF3071_Noru.jpg?itok=BliKeG7M"
                  width="480" height="320" alt="What you need to know about COVID-19 vaccines" typeof="foaf:Image">
              </div>
            </div>
          </div>

          <div class="content">
            <div class="pb-10-c pt-6-c">Bài viết</div>
            <!-- <p class="text-22px leading-28px">
            </p> -->
            <p class="text-16px leading-22px">
              Những quan ngại về tác động của bão Noru đối với trẻ em và gia đình ở Việt Nam và sẵn sàng hỗ trợ Chính phủ trong công tác ứng phó
            </p>
            <div class="button">
              <span class="text-blue-00AFFF text-14px">> Đọc câu chuyện</span>
            </div>
          </div>
        </div>

        <div class="card flex flex-col items-center">
          <div class="">
            <div class="">
              <div class="">
                <img class="w-full h-200 object-cover" loading="lazy"
                  src="https://www.unicef.org/vietnam/sites/unicef.org.vietnam/files/styles/large/public/411A6539.jpg?itok=j5fzzbDO"
                  width="480" height="320" alt="What you need to know about COVID-19 vaccines" typeof="foaf:Image">
              </div>
            </div>
          </div>

          <div class="content">
            <div class="pb-10-c pt-6-c">Bài viết</div>
            <p class="text-22px leading-28px">
              Những điều cần biết về vắc-xin COVID-19
            </p>
            <p class="text-16px leading-22px">
              Trả lời những câu hỏi thường gặp nhất về việc phát triển và triển khai tiêm vắc-xin COVID-19 tại Việt Nam.
            </p>
            <div class="button">
              <span class="text-blue-00AFFF text-14px">> Đọc câu chuyện</span>
            </div>
          </div>
        </div>

        <div class="card flex flex-col items-center">
          <div class="">
            <div class="">
              <div class="">
                <img class="w-full h-200 object-cover" loading="lazy"
                  src="https://www.unicef.org/vietnam/sites/unicef.org.vietnam/files/styles/large/public/UN0355854.JPG?itok=P5JULiHr"
                  width="480" height="320" alt="What you need to know about COVID-19 vaccines" typeof="foaf:Image">
              </div>
            </div>
          </div>

          <div class="content">
            <div class="pb-10-c pt-6-c">Bài viết</div>
            <p class="text-22px leading-28px">
              Những điều cần biết về vắc-xin COVID-19
            </p>
            <p class="text-16px leading-22px">
              Trả lời những câu hỏi thường gặp nhất về việc phát triển và triển khai tiêm vắc-xin COVID-19 tại Việt Nam.
            </p>
            <div class="button">
              <span class="text-blue-00AFFF text-14px">> Đọc câu chuyện</span>
            </div>
          </div>
        </div>

        <div class="card flex flex-col items-center">
          <div class="">
            <div class="">
              <div class="">
                <img class="w-full h-200 object-cover" loading="lazy"
                  src="https://www.unicef.org/vietnam/sites/unicef.org.vietnam/files/styles/large/public/Hero%20image-02.jpg?itok=FK5K6NCu"
                  width="480" height="320" alt="What you need to know about COVID-19 vaccines" typeof="foaf:Image">
              </div>
            </div>
          </div>

          <div class="content">
            <div class="pb-10-c pt-6-c">Bài viết</div>
            <p class="text-22px leading-28px">
              Những điều cần biết về vắc-xin COVID-19
            </p>
            <p class="text-16px leading-22px">
              Trả lời những câu hỏi thường gặp nhất về việc phát triển và triển khai tiêm vắc-xin COVID-19 tại Việt Nam.
            </p>
            <div class="button">
              <span class="text-blue-00AFFF text-14px">> Đọc câu chuyện</span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="w-full text-center my-40-c">
      <app-custom-button
        class="uppercase text-22px hover:bg-white rounded-5px"
        [height]="40"
        [text]="'Hiển thị thêm'"
        [type]="'primary-outline'">
      </app-custom-button>
    </div>

    <div class="mt-60-c flex items-start justify-center">
      <div class="w-1/3">
        <img class="max-w-none w-full " src="https://www.unicef.org/vietnam/sites/unicef.org.vietnam/files/styles/crop_thumbnail/public/411A0329%20Blue%20washed_0.jpg?itok=4kGzKv7i" alt="">
      </div>

      <div class="ml-28-c w-2/3">
        <p class="text-16px">Bạn muốn giúp đỡ trẻ em gặp khó khăn tại Việt Nam? Đầu tiên, mời bạn đăng ký vào danh sách nhận thông tin từ chúng tôi và tìm hiểu về những cách bạn có thể tham gia hỗ trợ cùng chúng tôi!</p>
        <p class="text-16px">Hàng tháng bạn sẽ nhận được bản tin về các hoạt động của chúng tôi, mẹo chăm sóc con cái, các sự kiện, ảnh và câu chuyện về trẻ em từ những người đã đăng ký nhận bản tin từ chúng tôi và hơn thế nữa!</p>
        <app-custom-button
          class="uppercase text-22px hover:bg-white rounded-5px"
          [height]="40"
          [text]="'Đăng kí ngay'"
          [type]="'primary'">
        </app-custom-button>
      </div>
    </div>
  </div>

  <div class="mt-60-c article-donation">
    <div class="h-full">
      <img class="max-w-none w-full h-full object-cover" src="https://www.unicef.org/vietnam/sites/unicef.org.vietnam/files/styles/standard_banner/public/C55A0389_0.JPG?itok=I_SyVMZz" alt="">
    </div>

    <div class="bg-blue-00AFFF p-40-c pr-100-c flex items-center flex-col justify-center h-full text-left text-white">
      <p class="text-30px leading-38px">Quyên góp để mọi trẻ em tận hưởng một tuổi thơ hạnh phúc</p>
      <p class="text-18px leading-31px">Ủng hộ, cung cấp các hàng hóa thiết yếu để ngăn chặn sự lây lan của COVID-19 và các bệnh khác. Khoản đóng góp của bạn có thể cung cấp cho trẻ em và gia đình sự bảo vệ, chăm sóc sức khỏe và giáo dục quan trọng.</p>
      <app-custom-button
        class="uppercase text-22px hover:bg-white rounded-5px"
        [height]="40"
        [text]="'Tìm hiểu thêm'"
        [type]="'primary-outline'">
      </app-custom-button>
    </div>
  </div>

  <div>
    <div class="text-30px text-center py-40-c max-w-3xl mx-auto">
      Công việc của chúng tôi định hướng bởi Công ước Liên Hợp Quốc về Quyền Trẻ em
    </div>

    <div class="content-box ">
      <iframe width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"
              src="https://www.youtube.com/embed/LjkayYf36bQ?autoplay=0&amp;start=0&amp;rel=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.unicef.org" data-gtm-yt-inspected-351560_173="true" id="124924609" data-gtm-yt-inspected-351560_353="true" data-gtm-yt-inspected-351560_413="true" data-gtm-yt-inspected-351560_673="true" data-gtm-yt-inspected-351560_694="true" data-gtm-yt-inspected-135="true" data-gtm-yt-inspected-142="true" data-gtm-yt-inspected-146="true" title="Tái hiện Hy Vọng - Hope Reimagine | Liam Nesson"></iframe>
    </div>
  </div>

</div>


