<div class="children-management__container">
  <div class="text-20px font-gotham-bold px-24-c py-16-c flex items-center justify-between text-blue-282E3E children-management__header">
    <span>
      Manage Children
    </span>

    <div class="flex items-center justify-between role-selection">
      <app-custom-button class="get-free-trial"
                         [height]="35"
                         [width]="120"
                         [disabled]="isLoading"
                         [text]="'Add Children +'"
                         [type]="'primary-outline'"
                         (onClick)="onAddChildren()">
      </app-custom-button>
    </div>
  </div>

  <div class="children-management__content">

    <div class="mt-16-c children-grid-container">
      <dx-data-grid #roleDataGrid
                    [dataSource]="childrenDataSource"
                    [showBorders]="false"
                    [showRowLines]="false"
                    [showColumnLines]="false"
                    [rowAlternationEnabled]="true"
                    [noDataText]="'No data to display'">
          <dxo-load-panel [enabled]="true"></dxo-load-panel>
          <dxi-column dataField="name"
                      [caption]="'Name'"
                      [alignment]="'left'">
          </dxi-column>
          <dxi-column dataField="gender"
                      [caption]="'Gender'"
                      [alignment]="'left'">
          </dxi-column>
          <dxi-column dataField="age"
                      [caption]="'Age'"
                      [alignment]="'left'">
          </dxi-column>
          <dxi-column dataField="join_date"
                      [caption]="'Start Date'"
                      [alignment]="'left'">
          </dxi-column>
          <dxi-column dataField="status"
                      [caption]="'Status'"
                      [alignment]="'left'">
          </dxi-column>
      </dx-data-grid>
    </div>
  </div>
</div>
