@import 'jerry-variable';
@import 'mixins';

$text-font-weight: 600;
$text-font-size: 14;

.tabs-menu {
	display: flex;
    align-items: center;
    justify-content: center;
	padding-top: 8px;

	.item-tab {
		margin: 0 14;
		color: $color-black-7;
		padding: 0 0 7;
		position: relative;
		cursor: pointer;
		font-weight: $text-font-weight;
		font-size: $text-font-size;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 2;
			border-top-left-radius: 2px;
            border-top-right-radius: 2px;
			width: 100%;
		}

		&:hover {
			&:before {
				background-color: $color-black-7;
			}
		}

		&.active {
			color: $color-blue-7;

			&:before {
				background-color: $color-blue-7;
			}
		}
	}
}
